[2018-10-02 01:39] thisisabdus commented on #1441
@gregvanl, I want to work on this issue. Is this still up for grab? Please let me know.

[2018-10-02 02:13] CyberiumShadow commented on #1822
Had a look around, that specfic image is hosted at Microsoft/vscode-website which is Organisation-access locked.

So we need the Microsoft team to update it on thier side

[2018-10-02 04:05] alefragnani opened #1907 "Add documentation for Keyboard Shortcuts in Tasks"
This is a great feature for Tasks, and I suppose it should be available in **Tip and Tricks"

[2018-10-02 18:58] brettcannon commented on #1878
Just to clarify, `.venv` is not a magical value, just an example of a directory name.

And a [tweak just came in](https://github.com/Microsoft/vscode-python/pull/2750/files) where marking the directory as relative is prudent, e.g. `./.venv`.

@kraigb do you want a separate issue for this update?

[2018-10-02 21:26] brettcannon opened #1914 "Revert #1905"
Running into too many bugs with this feature to leave this documented, so #1905 should be reverted.

[2018-10-02 22:45] kraigb commented on #1914
Done

[2018-10-02 22:45] #1914 closed

[2018-10-02 22:46] kraigb commented on #1866
Reopening due to revert.

[2018-10-02 22:52] gregvanl commented on #1441
Hi @thisisabdus We're going to be doing a large refactoring of the VS Code extensibility topics in the next few months so this would not be a good issue to work on. Thank you for your interest in the VS Code documentation.

[2018-10-02 22:56] gregvanl commented on #1363
@lorderikir You can find the original Word documents that are used to create the PDFs at https://github.com/Microsoft/vscode-docs/tree/master/docs/customization.

[2018-10-02 23:00] brettcannon commented on #1866
@kraigb did you mean #1878 instead of this issue?

[2018-10-02 23:03] #1597 closed

[2018-10-02 23:04] brettcannon opened #1916 "Remove documentation for `python.terminal.activateEnvironment`"
`python.terminal.activateEnvironment` has been deprecated, so we should remove its documentation.

[2018-10-02 23:15] lorderikir commented on #1363
Awesome thanks @gregvanl

[2018-10-02 23:59] gregvanl commented on #1363
@lorderikir Just a heads-up, the VS Code website doesn't support localized content or currently have a way to provide a localized PDF. It would require some engineering work to support this but Chinese versions of the PDFs could be hosted in this repo initially.

[2018-10-03 00:34] DonJayamanne commented on #1597
@brettcannon
I have introduced a format API (interface) that the extension now exposes.
Currently the API merely return a promise that lets us know whether the extension has completed loading (activation). This was added to resolve a CI issue.
We can build on that if necessary, however the bigger question is what should this API look like (what do we want to expose?)

[2018-10-03 02:43] DonJayamanne commented on #1597
could probably help [neuron](https://github.com/lorenzo2897/vscode-ipe) here https://github.com/lorenzo2897/vscode-ipe/issues/162#issuecomment-426485115

[2018-10-03 10:50] lorderikir commented on #1363
I've started the initial work here: https://github.com/lorderikir/vscode-docs/tree/feature/docs/zh-HANS-doc

[2018-10-03 18:00] #1916 closed

[2018-10-03 18:04] kraigb commented on #1850
I'm assuming that you found a suitable solution, so I'm closing this issue.

[2018-10-03 18:04] #1850 closed

[2018-10-03 18:13] kraigb commented on #1878
Reopening, as this isn't actually complete.

[2018-10-03 18:14] kraigb commented on #1866
Yes, I mean to reopen #1878, which I've done. Closing this one now as completed.

[2018-10-03 18:14] #1866 closed

[2018-10-04 02:45] GeorgySerga commented on #282
The website is not opensource, there is no way to fix it.

[2018-10-04 03:06] darewreck54 opened #1930 "Issue with debugging azure function remotely"
I was reading the documentation: vscode-docs/docs/java/java-azurefunctions.md. When I tried to connect remotely to debug the deployed azure function, I came across an exception in vs code.

I also posted the issue on https://github.com/Microsoft/vscode-java-debug/issues/450 since I don't know if this is related to vscode or if i'm missing something in the documentation?   I posted it here since th

[2018-10-04 13:48] tigoe opened #3143 "Keyboard shortcuts documents in PDF form are not accessible"
- VSCode Version: 1.27.2
- OS Version: MacOS 10.12.6

Steps to Reproduce:

1. open https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf
2. turn on VoiceOver on Mac (command-F5)

This will quickly reveal that the PDF is incomprehensible from the VoiceOver screen reader in a browser (tested with Chrome, Safari, and Firefox).  Further steps to try to read it:

3. download PDF, open in

[2018-10-04 15:37] Tyriar commented on #282
@GeorgySerga moved it over there, thanks 👍

[2018-10-04 15:37] #282 closed

[2018-10-04 19:31] thisisabdus commented on #1441
Hi @gregvanl, thanks for letting me know! Have a good day ahead.

[2018-10-05 13:19] kraigb commented on #1867
Thanks for your interest. In this case there's already a PR #1906 that's lined up to make the basic change, which itself is very simple. For most settings, they do in the file docs/python/settings-reference.md. Sometimes we add more discussion in another article, where it's useful to talk about the setting in an appropriate context. In this case I probably will want to look at instances where the

[2018-10-05 19:02] arthurbdiniz opened #1939 "Lazy collapsed API documentation"
I was reading the api documentation [/docs/extensionAPI/vscode-api](https://code.visualstudio.com/docs/extensionAPI/vscode-api). When I tried to open the collapsed dropdown i saw i little bug.

The **container** closes but the final **class** applied to the div its a little bit lazzy.

#### Preview:
![2018-10-05 15 55 33](https://user-images.githubusercontent.com/18387694/46554578-23344a80-c8b7-11

[2018-10-05 19:03] arthurbdiniz commented on #1939
Can i take this issue?

[2018-10-05 19:32] arthurbdiniz commented on #1939
Okay, thanks @gregvanl for the answer!

[2018-10-05 20:27] arthurbdiniz commented on #416
@jrieken and @jrieken can i work on this issue?

[2018-10-07 05:16] vipulgupta2048 commented on #1789
How about using Cloud services to store and parse images onto web pages. Everyone knows git isn't the best when it comes to large media/binary files. We can shift all the content and add placeholders in their places.

[2018-10-07 10:39] imaki-broadsoft opened #1945 "Cannot install matplotlib"
https://code.visualstudio.com/docs/python/python-tutorial says that matplotlib can be installed in Windows environment with command

`py -m pip install matplotlib`

However that command will tell that 'py' is an unrecognized command. Running `python -m pip install matplotlib` appears to do something but even after that the example code cannot be run successfully so there must be something else mis

[2018-10-07 16:39] octref commented on #1789
We tried git-lfs. This isn't really doable without compromising our workflow, so unfortunately the only way to contribute to vscode-docs without downloading the whole repo is to make change on GitHub interface.

[2018-10-08 13:58] kraigb commented on #1945
@imaki-broadsoft What operating system are you running on?

[2018-10-08 14:27] arthurbdiniz commented on #1072
Hi @gregvanl, i just added the PR for vue tutorial

[2018-10-08 14:44] imaki-broadsoft commented on #1945
Windows 10

[2018-10-08 18:10] octref opened #1949 "Plan for migrating VS Code API docs"
Following https://github.com/Microsoft/vscode/issues/58226 and internal discussions, we decided to move the existing extension docs (`Extension Authoring` & `Extensibility Reference`) from `/docs` to its own place, `/api`. You can preview it at https://vscode-ext-docs.azurewebsites.net/api.

This plan captures the migration. We plan to publish a minimal version by the end of October iteration, and

[2018-10-08 23:46] mozebdi commented on #794
I can improve this part of the documentation if anyone would like to assign it to me.

[2018-10-09 01:51] lannonbr commented on #1949
The groundwork that has been done so far looks extremely promising. I think it will be great to have a more in-depth look at the API for existing devs as well as being welcoming to new devs.

Glad to see the work being done with this @octref!

[2018-10-09 02:52] kjeremy commented on #881
I'm really glad that I just found this comment.

[2018-10-09 04:15] #1907 closed

[2018-10-09 04:19] #1882 closed

[2018-10-09 11:51] kraigb commented on #1945
Hmmm...not sure what's going on. I'll have to investigate. In the meantime, that part of the tutorial isn't particular critical to doing other work with Python in VS Code, so don't let it be a blocker. :)

[2018-10-09 13:28] lannonbr commented on #1765
It seems this is being handled in #1949 so I will close this issue.

[2018-10-09 13:28] #1765 closed

[2018-10-09 18:58] #1867 closed

[2018-10-10 00:44] busticated opened #1957 "Docs: Explain `scope` Field within `configuration` Contribution Point..."
the docs for the `configuration` contribution point make no mention of the `scope` field - yet we are warned about setting it / not setting it under certain circumstances. what does `scope` do?

docs:
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesconfiguration

example:
https://github.com/Microsoft/vscode-extension-samples/blob/master/configuration-sample/package.jso

[2018-10-10 00:45] busticated opened #1958 "Docs: Include Full Lookup Path and Make Things Easier to Copy+Paste..."
minor but helpful things:

* make the property / method names easily copy+paste-able (ex. `createOutputChannel` [here](https://code.visualstudio.com/docs/extensionAPI/vscode-api#window.createOutputChannel))
* in each property / method section, include the full parent reference so i don't need to scroll around to find it - e.g. `window.createOutputChannel()`

thanks 🙏

[2018-10-10 06:34] egamma opened #1960 "Update the refactoring page with the refactoring improvements"
https://code.visualstudio.com/docs/editor/refactoring

Motivation:
![image](https://user-images.githubusercontent.com/172399/46717193-3d7b7900-cc67-11e8-89da-ba9f7eaee41b.png)

[2018-10-10 08:19] imaki-broadsoft commented on #1945
matplotlib would have been needed in a Python course I attended this week but now the course is over anyway so take your time

[2018-10-10 19:06] kraigb commented on #1945
Going back to the "python -m pip install" command, can you just run "python" and tell me what version comes up. Also run "where python.exe" and let me know the paths. I'm wondering which interpreter it's picking up, which depends on how things are in your PATH environment variable.

[2018-10-10 22:31] Guilhermeslucas opened #1967 "Talk about the problems on using pip freeze"
Hello all, how are you? I was reading the docs on Django and Flask, and on both of them are saying to use ```pip freeze > requirements.txt```. That's good for explaining how a requirements file works, but its not the best practice, since you can create a requirements file full of packages that are not needed for the specific project. Besides, we could talk more about versions of packages inside th

[2018-10-10 22:37] brettcannon opened #1968 "extensionPack field in package.json is undocumented"
It's mentioned in https://code.visualstudio.com/updates/v1_26#_extension-packs-revisited but it isn't documented in https://code.visualstudio.com/docs/extensionAPI/extension-manifest#_extension-packs .

[2018-10-11 15:30] kraigb commented on #1967
We're doing well, thank you, and thanks for your suggestion. I'm thinking that the Django/Flask tutorials themselves are the not quite the right place for best practices for requirements.txt, but should link to the appropriate information. Is there somewhere in Python docs, perhaps, that describe what you're looking for?

Alternately, there's a comment on requirements.txt at the end of this sectio

[2018-10-11 16:35] Guilhermeslucas commented on #1967
Hey Kraig, thanks a lot for your answer! And I totally agree with you that this is not the place to take too much time explaining the best practices on requirements files. I think it would be totally cool to have a explanation what ```pip freeze > requirements.txt``` will do, putting all the packages you have installed in the environment to a file. Besides, it would be cool to have a simple link e

[2018-10-11 17:04] kraigb commented on #1967
Yes, open a PR and let's collaborate on this! It's exactly why the docs are open source. :)

[2018-10-12 16:48] #1878 closed

[2018-10-12 19:54] octref opened #1983 "Add onWebviewPanel to Activation Events"
Please add it to the doc, so I can refer to it from both the sample and the guide.

[2018-10-12 20:00] qayshp opened #1984 "Documentation website common "tweet" share link is broken."
When viewing any markdown page on the Docs site, for example [setup overview](https://code.visualstudio.com/docs/setup/setup-overview), there is a column on the right called "IN THIS ARTICLE" with each of the headings from the rendered markdown. At the bottom of that section is a blue link titled "Tweet". That is the bad link, as all it does is link to https://twitter.com/share while a user would

[2018-10-13 18:17] gregvanl commented on #1984
Hi @qayshp Thank you for taking the time to enter this issue. There is already an open issue for this in the private vscode-website repo and you are correct, the fix needs to be made there.

[2018-10-13 18:17] #1984 closed

[2018-10-14 04:46] HrushikeshBodas commented on #1957
Id like to take up this issue.

[2018-10-14 20:24] martinbydefault opened #1998 "[Tips-and-tricks] Search and replace using regular expressions"
Recently I had to edit some code files where I wanted to search for specific parts of code and append to it some other code/text (mantaining the original matched code).
The only way I found to achieve this in VSCode (aside from doing it by hand) was to use the search and replace function with regular expressions and use capturing groups.

I thinks this is something useful to add in the Tips and tr

[2018-10-14 21:18] vjs3 opened #2000 "Multiple image paths are broken in the files of tutorials/static-website"
All the files inside [tutorials/static-website](https://github.com/Microsoft/vscode-docs/tree/master/tutorials/static-website) have broken image paths.

- code-change.md
- create-storage.md
- deploy-website.md
- getting-started.md
- create-app.md

I have fixed this issue with the #1999

All the details are provided with the Pull Request.

[2018-10-15 05:15] sdlins opened #4609 "Request to make older versions (zip, no-admin) install available"
I posted my question at Stackoverflow, but, there are already other question exactly like this over there since Feb 20, **2017** with no answer! So, it is definitely a *BUG* if you see by an user point view!

Please see it [here](https://stackoverflow.com/questions/42353255/how-to-download-older-version-of-vscode-portable) and mine [here](https://stackoverflow.com/questions/52810019/where-we-can-g

[2018-10-15 11:57] Bug38 opened #2004 "What about localization for the documentation ?"
Code itself is localized, but I can't find any documentation other than english one...

[2018-10-15 17:47] vjs3 commented on #2000
Explained in #1985

[2018-10-15 17:47] #2000 closed

[2018-10-16 00:31] gregvanl commented on #2004
Hi @Bug38, currently we don't localize the VS Code website.

[2018-10-16 00:32] gregvanl commented on #2004
Reopening in order to track feedback

[2018-10-16 03:03] AMDphreak commented on #1850
Yes I did.

[2018-10-16 03:04] AMDphreak commented on #1849
Yes, this works.

[2018-10-16 14:51] #1968 closed

[2018-10-16 16:02] busticated commented on #1957
I replied over here 👉 https://github.com/Microsoft/vscode-docs/pull/1995#issuecomment-430295897

[2018-10-16 16:04] #1967 closed

[2018-10-16 22:08] octref opened #2012 "Move the TOC structure to a single file"
Currently, the TOC is generated from each file's metadata. This is hard to manage when you are creating a new topic, moving things around, etc.

We'll move the generation to a simpler model, so it's easier to manage for us and easier to contribute to. For example, `docs/toc.yaml` could generate the current TOC:

[code]

[2018-10-16 23:57] gregvanl commented on #1949
Assigned to Pine so there is an owner

[2018-10-17 07:09] xfudox opened #2013 "Using Windows native OpenSSH client rather Putty"
I'm trying to move from Putty/Pagent/Plink to Windows native OpenSSH client, but i'm struggling.

I've already enabled the OpenSSH agent service to start automatically, added my ssh key with the ssh-add command, but any time i try to write to origin (e.g.: push) i got a popup with

Trying to push from command line give also

I'm sure the ssh key and the acces rights are correcty set since I menage

[2018-10-17 07:11] xfudox commented on #2013
Just realized i posted this in the wrong place, my fault.

[2018-10-17 07:11] #2013 closed

[2018-10-17 12:45] lannonbr opened #2015 "Add Octobox GitHub app to repo"
I would be interested in seeing the [Github App](https://github.com/apps/octobox) for [Octobox](https://octobox.io/) being added to this repo so it could be easier to track issues. I've noticed it has already been added to the main vscode repo and I think it would be useful to be used here as well.

[2018-10-17 18:40] #1998 closed

[2018-10-17 18:41] gregvanl commented on #1998
Hi @martinbydefault Thanks for your PR. Tips and Tricks has moved to vscode-docs and vscode-tips-and-tricks is no longer maintained.

[2018-10-17 18:53] Ayush-Rawal commented on #1423
Should this issue be closed? Or is this still relevant?

[2018-10-17 20:58] brettcannon opened #2020 "Document "python.terminal.activateEnvironment""
Defaults to `true` and causes your terminal to automatically activate any environment you have set for Python.

[2018-10-17 21:05] lorensr opened #2021 "Explain top-right icons in User Interface"
`/docs/getstarted/userinterface.md`

https://code.visualstudio.com/docs/getstarted/userinterface

I think this would be a good place to explain what these icons are called and how to remove / change them:

![image](https://user-images.githubusercontent.com/251288/47116132-b3b34900-d22e-11e8-9924-a5a5ede661f6.png)

[2018-10-17 22:16] Tyriar commented on #2015
Done

[2018-10-17 22:16] #2015 closed

[2018-10-18 01:07] gregvanl commented on #1423
@Ayush-Rawal Thanks for noticing. Everything has been covered that we want to address at this time.

[2018-10-18 01:07] #1423 closed

[2018-10-18 01:54] #1983 closed

[2018-10-18 20:13] beauremus commented on #675
My issue was not having the font weight in vs code match the weight of the font on my system.

`{
    "terminal.integrated.fontWeightBold": "normal"
}`

Fixed my special characters appearing as boxes.

[2018-10-18 23:58] gregvanl commented on #1543
I've done a pass on the topic and removed some of the largest .gifs in favor of images. That shrunk the page size by about 1/3 down from 28 MB to 19 MB. Closing this issue for now as tips and tricks isn't the largest topic and it is highly rated with average 93% CSAT so users don't seem to mind waiting for the page to load. I only notice page load jumping if I navigate down the topic (via the righ

[2018-10-18 23:58] #1543 closed

[2018-10-19 00:02] gregvanl commented on #2021
These buttons are fixed and can not be removed or changed for the editor view. Each button has a tool tip on hover showing the button name and keyboard shortcut if available.

[2018-10-19 00:02] #2021 closed

[2018-10-19 00:04] gregvanl commented on #2004
VS Code doesn't plan on localizing the website while it is on code.visualstudio.com.

[2018-10-19 00:04] #2004 closed

[2018-10-19 00:06] gregvanl commented on #1930
@jdneo Is there any plan to update the documentation?

[2018-10-19 05:49] lorensr commented on #2021
Thanks! Found the FR: https://github.com/Microsoft/vscode/issues/46403

[2018-10-19 14:35] aayushbisen opened #2025 "Adding new settings UI details"
Since VS Code now has a GUI for editing settings. I think instructions on _User and Workspace Settings_ page have a room for improvements.

[2018-10-19 14:46] gregvanl commented on #2025
@aayushbisen Thanks for entering an issue, which will help with tracking. It has been on our todo list for some time.

[2018-10-19 14:50] aayushbisen commented on #2025
Great. I would also like to contribute.

[2018-10-20 03:27] jamesgeorge007 opened #2029 "Broken links within Introductory section"
The video previews within the [introductory videos section](https://github.com/Microsoft/vscode-docs/blob/master/docs/getstarted/introvideos.md) is broken within the repository. It is just fine on the website part.
Was this ignored for the repository?

If it's not the case, I'm happy to submit a fix :smile:

[2018-10-20 11:07] gregvanl commented on #2029
Hi @jamesgeorge007, Yes the embedded HTML on the intro videos page doesn't render on GitHub but does once converted to handlebars on our website.

[2018-10-20 11:07] #2029 closed

[2018-10-22 16:49] #2020 closed

[2018-10-23 21:52] kieferrm opened #2049 "Missing documentation about "vscode:uninstall" script"
We talked about it in https://code.visualstudio.com/updates/v1_21#_extension-uninstall-hook but I can't seem to find any documentation for it on the website.

[2018-10-25 03:42] tetchel opened #2060 "List of CSS variables accessible in an extension WebView"
Hi, I am creating a WebView as part of my extension and want to style my WebView buttons to look like the VSCode buttons.

From https://code.visualstudio.com/docs/extensions/webview#_theming-webview-content I see that there is CSS exposed to my extension that I can use, and that's great - just what I need.

However, I've done some digging in the main repository I cannot find a list of the names of

[2018-10-25 03:49] tetchel commented on #2060
Well, I've found what seems to be an exhaustive list in the theme json files, eg [here](https://github.com/Microsoft/vscode/blob/31f86f72bd027dc90347bf7459111550604582b4/extensions/theme-monokai/themes/monokai-color-theme.json).

I still think this list should be added to the docs, but my issue personally is resolved :)

[2018-10-25 09:23] egamma opened #2063 "Editor Decoration should not be documented in the Theming page"
The section on editor decoration (see below) is currently shown in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/theming.

Editor decorations are not related to theming. They should be documented in the editor.

![image](https://user-images.githubusercontent.com/172399/47489946-02bd3780-d848-11e8-99d5-4498349e3a70.png)

[2018-10-25 18:30] octref commented on #2063
Thanks - took it out of that topic.

[2018-10-25 18:30] #2063 closed

[2018-10-25 21:19] kcclemo commented on #2060
Would it make sense to place a markdown document for this list under `docs/customization`? Or is it better to just link to the raw .json file?

[2018-10-25 21:49] kcclemo commented on #2060
And actually, in reading through this, I think this color reference would be an appropriate document to link to from the https://code.visualstudio.com/docs/extensions/webview#_theming-webview-content article:
https://code.visualstudio.com/docs/getstarted/theme-color-reference

I'd be happy to submit a pull request with this change if that's OK.

[2018-10-25 23:40] brettcannon opened #2068 "Clarify that "python.unitTest.autoTestDiscoverOnSaveEnabled" applies to all test frameworks"
Microsoft/vscode-python#3004

The phrasing at https://code.visualstudio.com/docs/python/unit-testing#_test-discovery and https://code.visualstudio.com/docs/python/unit-testing#_unittest-configuration-settings suggest that `"python.unitTest.autoTestDiscoverOnSaveEnabled"` only applies to `unittest`, when in fact it works with all the test runners.

[2018-10-26 04:55] tetchel commented on #2060
Hi kcclemo,

The theme-color-reference is exactly what I had in mind. A link to that from the theming-webview-content docs would be really helpful.

That being said, I was hoping for more CSS than just colors. It would be great if I could just apply a (for example) `vscode-button` class to my buttons, and have them fit right in - I still haven't figured out how to create 'editor buttons' (like the

[2018-10-26 13:39] tetchel opened #2076 "WebView documentation should mention that links using the "command:" protocol are supported"
[The WebView example](https://code.visualstudio.com/docs/extensions/webview) should mention that VSCode commands can be invoked by traditional HTML links in a WebView by using the "command" protocol. Maybe the `catCoding.doRefactor` command could be bound to a button.

I figured out that this is possible from [the source for the Welcome page](
https://github.com/Microsoft/vscode/blob/ff13d20dc488c

[2018-10-26 17:02] #2068 closed

[2018-10-26 19:18] aayushbisen commented on #2025
#2081

[2018-10-26 19:19] aayushbisen commented on #2025
added some improvements.

[2018-10-26 22:36] eunicode commented on #2076
Hi, can I try tackling this?

[2018-10-26 23:46] LeMorrow opened #2084 "Confusing layout & syntax in /master/docs/getstarted/introvideos.md"
Very strange syntax appears in [introvideos.md](https://github.com/Microsoft/vscode-docs/blob/master/docs/getstarted/introvideos.md).

I won't be fixing it myself since I'm not sure if there's a specific reason for this behaviour (perhaps this same file is used somewhere else but styled with css that fixes it?).

- Titles and descriptions appear **under** the videos (they should be placed above).

[2018-10-27 11:06] marcoandredinis commented on #2084
I think that's exactly what's happening: https://code.visualstudio.com/docs/getstarted/introvideos

[2018-10-27 15:29] LeMorrow commented on #2084
Ah, looks like it. I'm going to assume that the priority is the docs on the web, not the layout here on Github. Closing the issue.

[2018-10-27 15:29] #2084 closed

[2018-10-27 16:11] thernstig commented on #2068
@kraigb @jgierer12 @brendonotto As part of this (as described in https://github.com/Microsoft/vscode-python/issues/3004) the following section indicates settings for only the "unittest" framework: https://code.visualstudio.com/docs/python/unit-testing#_unittest-configuration-settings

Pytest (https://code.visualstudio.com/docs/python/unit-testing#_pytest-configuration-settings) and Nose (https://c

[2018-10-27 16:51] jgierer12 commented on #2068
Good point, I too believe there should be a separate section for general settings. @kraigb?

[2018-10-28 18:09] gregvanl commented on #2076
Talking with the VS Code engineers, they discourage firing commands directly from a webview as that could allow running unsafe commands. The recommended approach is to use postMessage as documented in the tutorial.

[2018-10-28 18:09] #2076 closed

[2018-10-28 23:41] qwermish opened #2106 "Broken Links on Getting Started Tutorial for Python"
In the [Python tutorial](https://code.visualstudio.com/docs/python/python-tutorial), all the links to other .md files in the /docs/python directory were broken. In other topics in the same folder (e.g. the [Editing](https://code.visualstudio.com/docs/python/editing) topic), the links work if preceded with the full docs path (e.g. `/docs/python/linting.md`) rather than using just `linting.md` as do

[2018-10-29 02:00] #2106 closed

[2018-10-29 14:56] alvinsight opened #2109 "Language identifiers page looks out of date"
Hello,
It looks like the languages listed in the list of supported [language identifiers](https://code.visualstudio.com/docs/languages/identifiers) is missing a few languages.

For example, the official page about using Emmet references `vue-html` and `javascriptreact`:
<img width="769" alt="screen shot 2018-10-29 at 14 54 08" src="https://user-images.githubusercontent.com/4254030/47658329-bc8b0f8

[2018-10-29 18:32] kraigb commented on #2068
@jgierer12 Yes, a separate section on general settings is the pattern to follow.

[2018-10-29 18:33] #2049 closed

[2018-10-29 18:34] gregvanl commented on #2049
Fixed with https://github.com/Microsoft/vscode-docs/pull/2072

[2018-10-29 20:33] thernstig opened #2113 "Separate Python unit test settings from the unittest framework settings"
The following section indicates settings for only the "unittest" framework: https://code.visualstudio.com/docs/python/unit-testing#_unittest-configuration-settings - i.e. `autoTestDiscoverOnSaveEnabled` seems to indicate it can only be configured for unittest (the framework).

Pytest (https://code.visualstudio.com/docs/python/unit-testing#_pytest-configuration-settings) and Nose (https://code.visu

[2018-10-29 20:34] thernstig commented on #2068
@kraigb @jgierer12 please see https://github.com/Microsoft/vscode-docs/issues/2113

[2018-10-29 20:39] thernstig commented on #2113
@brettcannon As part of this, would it be an idea to rename `python.unitTest.` to `python.test.` in the actual settings? It would then be more clear to have general settings under `python.test.` and framework specific settings under `python.test.unittest`, `python.test.pytest` and `python.test.nose`.

All the documentations at https://code.visualstudio.com/docs/python/unit-testing seems to indicat

[2018-10-29 21:04] brettcannon commented on #2113
@thernstig it's off-topic in this repo, but there's already an open issue to clean up our setting naming scheme and part of that includes our test settings.

[2018-10-29 22:59] gregvanl commented on #1880
Next version of vscode-generator-code will not prompt for publisher.

[2018-10-30 08:02] mnp3 opened #2157 "Visual Studio Code on macOS: To manually add VS Code to your path."
- VSCode Version:1.28.2
- OS Version: MAC OS X El Capitan 10.11.5

Steps to Reproduce:

1. on page https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line
2. Adding the line to ~/.bash_profile
3. export PATH="\$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
4. generates an error along the lines of the PATH being deleted and hence the inability to run an

[2018-10-30 12:40] joaomoreno opened #2117 "Line height in /api is smaller than in other pages"
Testing Microsoft/vscode#62106

https://vscode-ext-docs.azurewebsites.net/api

The line height in this page is smaller than all other docs pages.

[2018-10-30 12:51] joaomoreno opened #2118 "Docs: /api clarifications"
Testing Microsoft/vscode#62106

**Suggested alternative:**

VS Code is an Electron based app, so its UI is built using HTML, CSS and JavaScript using the usual browser DOM API. Unlike other editors, VS Code does not provide DOM access to extension authors in order to ensure its responsiveness and performance. Instead, an extensive extension API is exposed in order to customize the editor. Here are

[2018-10-30 12:57] joaomoreno opened #2119 "Incomplete `Extending Workbench` page"
This page is very incomplete... maybe we should get @bpasero's input on it?

https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/extending-workbench

[2018-10-30 13:21] bpasero commented on #2119
Wasn't @isidorn supposed to cover that page?

[2018-10-30 13:30] isidorn commented on #2119
Yeah I covered it incompletely.
Basically I covered all the topics that @octref outlined
@joaomoreno @bpasero it would be great if you can list the topics that seem to be missing

[2018-10-30 13:57] sandy081 opened #2120 "Spacing issues"
![image](https://user-images.githubusercontent.com/10746682/47723089-14da1400-dc54-11e8-8287-e761923ffb97.png)

Links at the end do not have space before them.

[2018-10-30 14:10] usernamehw opened #2121 "Search on the website doesn't highlight matches."

[2018-10-30 14:25] sandy081 opened #2122 "Ordering of what can extensions do?"
I thought it would be good to start with Language Extensions followed Debug, Tasks, and UI extensions

- Language Extensions Overview
- Dynamic Language Features
- Debug
- Task
- Theme
- Views

Do not know if it makes sense, but I thought starting with language extensions would be good as VS Code is an editor and most of the top 100 extensions are language based

[2018-10-30 17:00] octref commented on #2119
Yeah that's why I assigned @bpasero for testing https://github.com/Microsoft/vscode/issues/62106.

@isidorn or @bpasero: Would you have time in debt week to update the doc, so it's as informative as the other `Extension Capabilities` topics such as [Overview](https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/overview) and [Theming](https://vscode-ext-docs.azurewebsites.net/api/e

[2018-10-30 17:04] octref commented on #2118
All great points — I took them all. Thanks!

[2018-10-30 17:04] #2118 closed

[2018-10-30 17:07] octref commented on #2120
Fixed. I should really make that page powered by markdown instead of writing raw html...

[2018-10-30 17:07] #2120 closed

[2018-10-30 17:08] isidorn commented on #2119
@octref yes I would have time to update the doc in debt week. However the workbench is a very global topic and I am not sure what areas are covered in other documents. So it would be really helpful for me if we could figure out what this docuemnt should contain first.

[2018-10-30 17:10] octref commented on #2122
Ranked them by popularity. Theming still goes first since they take a very different path than most other extension authors. And you can argue not only extension authors but ordinary users would want to know more about theming too.

![image](https://user-images.githubusercontent.com/4033249/47736454-f2340500-dc2b-11e8-9180-203847ea1823.png)

[2018-10-30 17:10] #2122 closed

[2018-10-30 17:11] octref commented on #2117
Good eyes. Will fix that and also make the `/api` page generated from a markdown in vscode-docs.

[2018-10-30 18:19] gregvanl commented on #1880
Moving to November to review once new version of vscode-generator-code is released and the Extensibility docs refresh is published.

[2018-10-30 18:19] #2025 closed

[2018-10-30 18:30] gregvanl commented on #2121
Hi @usernamehw Good suggestion and there is an existing issue in our private website build repo. I gave it a +1. Thanks

[2018-10-30 18:30] #2121 closed

[2018-10-30 21:38] RMacfarlane opened #2152 "Feedback on Getting Started extension docs section"
Testing https://github.com/Microsoft/vscode/issues/62107

### Your First Extension page

There should be a prerequisites section that mentions node and possibly git.

Instead of just "Run the `Hello Code` command", I think it's better to give explicit instructions on how to open the command palette.

The "Extension Host" bullet point doesn't link to anything.

The page is otherwise clear 👍

### Ex

[2018-10-30 21:52] tetchel commented on #2060
Fixed #2075

[2018-10-30 21:52] #2060 closed

[2018-10-31 00:49] abetancort opened #2124 "The "code .” command call in the python tutorial page."
The terminal command`code .` in the target folder does not work, obviously, in macOS environments.

That is because the Visual Studio is installed by default (using Anaconda) in `~/applications `under the name `Visual Studio Code.app` and no aliases or symlink named code are created to the `electron` executable inside or outside the Visual Studio package. More over in macOS neither the application

[2018-10-31 17:19] kraigb commented on #2124
@abetancort Is there any means to start VS Code in a folder from the CLI on a Mac? Or are you recommending that it's better (and more universal) to instruct people to start VS Code and open the folder via the UI?

[2018-10-31 21:08] jrkoch commented on #2124
Hi, I can open a PR that links to elsewhere in the documentation for setting this up

[2018-10-31 21:12] jrkoch commented on #2124
Drat, I was hoping for a hacktoberfest win.

Instructions for setting up `code .` on macOS are found here: https://code.visualstudio.com/docs/setup/mac#_preferences-menu

[2018-10-31 21:49] #2124 closed

[2018-10-31 22:55] gregvanl commented on #1760
Hi @ackvf, the quickInputBack command isn't currently used by any of the out-of-the-box VS Code UI. It is there for extensions when they start using the new Quick Input flow. Unfortunately, I don't know of any extension which currently uses Quick Input. There is a sample which demonstrates Quick Input. https://github.com/Microsoft/vscode-extension-samples/tree/master/quickinput-sample.

[2018-10-31 22:55] #1760 closed

[2018-10-31 23:26] brettcannon opened #2136 "Document bandit support as a Python linter"
Microsoft/vscode-python#2775

[2018-11-01 03:42] gregvanl opened #2141 "Root /api page should be authored in Markdown in vscode-docs"
Found while working on https://github.com/Microsoft/vscode/issues/62107

Right now it is hand-coded handlebars in vscode-website but the content can be authored in Markdown and should move to vscode-docs.

[2018-11-01 03:45] gregvanl opened #2142 "Use "Visual Studio Code" in titles, H1, and first use; "VS Code" in later text"
Found while testing #https://github.com/Microsoft/vscode/issues/62107

[2018-11-01 03:50] gregvanl opened #2144 "Use convention "Hello World" for name of first extension"
Found while testing https://github.com/Microsoft/vscode/issues/62107

Users will search for and expect a starting tutorial to be called "Hello World".  Right now, searching for "hello world" under the /api folder doesn't return any of the Get Started content.

"Hello Code" is problematic since it isn't really the brand name. "Visual Studio Code" is the brand name and we get by with the shorted "VS

[2018-11-01 04:38] gregvanl opened #2143 "Use convention "Hello World" for name of first extension"
Found while testing https://github.com/Microsoft/vscode/issues/62107

Users will search for and expect a starting tutorial to be called "Hello World".  Right now, searching for "hello world" under the /api folder doesn't return any of the Get Started content.

"Hello Code" is problematic since it isn't really the brand name. "Visual Studio Code" is the brand name and we get by with the shorted "VS

[2018-11-01 05:45] octref opened #2145 "Make page titles consistent"
Currently, we have these titles:

- Homepage: `Visual Studio Code - Code Editing. Redefined`
- `/docs`: `Documentation for Visual Studio Code`
- `/docs/setup/setup-overview`: `Setup VS Code`
- `/updates/v1_28`: `Visual Studio Code September 2018`
- `/blogs/2018/09/12/engineering-with-azure-pipelines`: `Visual Studio Code using Azure Pipelines`
- `/docs/supporting/faq`: `Visual Studio Code Frequent

[2018-11-01 05:46] octref commented on #2142
The whole Extension API section uses the word VS Code, not Visual Studio Code.

I changed the title to be `Overview | VS Code API` for the top page.
Also opened https://github.com/Microsoft/vscode-docs/issues/2145.

[2018-11-01 05:46] #2142 closed

[2018-11-01 06:06] #2145 closed

[2018-11-01 06:59] octref commented on #2141
https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/index.md

[2018-11-01 06:59] #2141 closed

[2018-11-01 07:01] octref commented on #2117
Fixed line-height and the Overview page is now generated from `api/index.md` file at https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/index.md.

[2018-11-01 07:01] #2117 closed

[2018-11-01 14:45] egamma opened #2151 "Testing: hello code"
Testing #62107

## Overview:
The documentation introduce the term 'static language support' and 'dynamic language support', this is misleading terminology. Both language features are dynamic. For our existing extensions we use the terms: Basic and 'Language Features'.
![image](https://user-images.githubusercontent.com/172399/47858408-4c7bc400-ddec-11e8-9ea8-bc3305b2e768.png)
We should follow the t

[2018-11-01 23:13] gregvanl opened #2147 "Advance Topics section"
Testing https://github.com/Microsoft/vscode/issues/62107
A couple of suggestions:
- Publishing extensions isn't an advanced topic, it is mainstream for working with extensions. I would move it, perhaps into Get Started.
- Advanced topics should be at the bottom and only contain really advanced topics like testing and proposed API.

[2018-11-01 23:16] gregvanl opened #2148 "Use yeoman generator rather than cloning a repo"
Testing https://github.com/Microsoft/vscode/issues/62107

I think people are very comfortable with yeoman and other application generators so I would stick with using the Yeoman generator to create the project. We already require Node.js and npm so using Git doesn't eliminate that dependency.

The new generator removes asking for a publisher so that confusion is gone.

A generator makes it very ea

[2018-11-01 23:24] gregvanl opened #2149 "Get Started TOC"
Testing https://github.com/Microsoft/vscode/issues/62107

Suggestions:

Change "Your First Extension" to "Hello World"
* People with expect to see "Hello World" under Get Started and know exactly what the topic does.
Change "Extension Anatomy" to "Anatomy of an Extension"
I'm not sure if Tools of the Trade is a good title or if the topic is needed. I would pull out vsce into a publishing topic, us

[2018-11-01 23:56] gregvanl opened #2150 "Intro to Extension Capabilities / Theming topic too complex"
Testing https://github.com/Microsoft/vscode/issues/62108 scenario 1

The first sentence has several unexplained references to Component Identifier and Text Token Identifier.
"A mapping from both UI Component Identifier and Text Token Identifier to colors. "
The implementation details should be later once the user decides this is the extension point they are interested in.

Above the fold image is

[2018-11-02 04:08] octref commented on #2148
Yeoman generator:

- 2 more dependencies to install
- A bunch of files beginners don't care (tests, workspace settings, etc)
- Source is not inspectable on GitHub
- Get outdated, user need to update dependency from time to time

I'll add more information for using yeoman generator. However, samples with descriptions should be the starting point.

[2018-11-02 04:08] #2148 closed

[2018-11-02 04:16] octref commented on #2150
The below sentence immediately explains it: Color theme allows you to apply your favorite colors to both VS Code UI Components and the text in the editor.

I can make the images larger, but I think it illustrates what could be a whole page.

Here is the text right above it: If you want to change the color of text in your editor, you need to know how the text is tokenized. VS Code provides a handy

[2018-11-02 04:42] octref commented on #2150
However, I do agree that some complex content should go into https://vscode-ext-docs.azurewebsites.net/api/extension-guides/color-theme.

Nobody is writing that guide, guess I have to do it...

[2018-11-02 16:32] myusrn opened #2155 "Keyboard Shortcuts Ide Tab and Browser Pdf Shift+Alt+... entries"
Issue Type: <b>Bug</b>

The Keyboard Shortcuts ide tab [ Ctrl+K Ctrl+S ] and browser pdf [ Ctrl+K Ctrl+R ] references have a bunch of Shift+Alt+... entries.  For whatever mental reason I, and i'm guessing others, find these really confusing given historically we are used to seeing keyboard shortcuts involving use of Shift key listed as Ctrl+Shift+... and Alt+Shift+....  My recommendation here is t

[2018-11-02 16:37] mrcbsbr23 opened #2156 "Python tutorial hello file creation"
After the following instruction in the VS Code Python tutorial;

Create a Python Hello World source code file
From the File Explorer toolbar, click the New File button on the hello folder:

When I was following the tutorial the hello folder was not created after I opened VS Code after creating the hello folder.  I had to click on "Open Folder" and select the hello folder created and then click on

[2018-11-02 17:51] gregvanl commented on #2156
Hi @mrcbsbr23 Did you navigate to the new folder before launching VS Code?

[code]

[2018-11-02 17:54] gregvanl commented on #2155
The documentation follows the Keyboard Shortcut editor ordering so moving to the vscode repo.

[2018-11-02 19:54] mrcbsbr23 commented on #2156
Good Day!

I tried originally navigating and creating the file using File Explorer.  When I entered into the hello folder I used File>Open Windows PowerShell.  The hello folder did not open automatically.

I tried navigating through PowerShell terminal and did the same.  Now I just found out from your email about typing a period after code, I did not notice it in the webpage.  That is the reason w

[2018-11-02 20:21] usernamehw opened #2159 "[Keybindings] Missing documentation on using regex in when clause `=~`"
It was added in Jan 2018
https://code.visualstudio.com/updates/v1_20#_new-keyboard-shortcut-context-operator

[2018-11-02 20:39] gregvanl commented on #2156
https://code.visualstudio.com/docs/editor/command-line#_launching-from-command-line
As to Git, sounds like you are configured correctly. Try opening a folder which is under Git source control.

[2018-11-02 22:37] mrcbsbr23 commented on #2156
Thank you.  I do not know how to open a folder under Git source control.  I saw a picture of Source Control and I saw that I just have the Git icon but not the three periods that are after the symbol.  Please let me know how I can proceed.

Sent from Mail for Windows 10

From: Greg Van Liew
Sent: Friday, November 2, 2018 4:58 PM
To: Microsoft/vscode-docs
Cc: mrcbsbr23; Mention
Subject: Re: [Micros

[2018-11-04 21:08] FreHu opened #2162 "Docs suggestion - add ability to maximize pictures"
Often the pictures are screenshots full of text which can be hard to read. As an example, look at the screenshots with the debugger attached at https://code.visualstudio.com/docs/extensions/example-language-server

[2018-11-05 04:37] gregvanl commented on #2156
HI @mrcbsbr23 You can learn about Git through the on-line book https://git-scm.com/doc as well as the GitHub site https://guides.github.com/activities/hello-world.
If you clone a Git repository to your local machine, you can then open VS Code in that new folder and the Source Control view will detect that the project is under Git source control.
If you don't want to create a GitHub account, you ca

[2018-11-05 04:37] #2156 closed

[2018-11-05 15:49] octref commented on #2162
Thanks - I have had this in mind for a while. Probably gonna add something like lightbox.

[2018-11-05 18:24] auchenberg opened #2163 "Add topics covering permissions on MacOS Mojave"
We are seeing bugs like https://github.com/Microsoft/vscode/issues/55236, and per learnings from Atom, this is caused by us indexing folders containing contacts and calendar files.

Atom did a good write-up, and we should do the same as a part of FAQ.

https://discuss.atom.io/t/why-does-macos-say-that-atom-wants-to-access-my-calendar-contacts-photos-etc/59291

(cc @kieferrm per discussions this mo

[2018-11-06 17:47] octref opened #2165 "Update old links pointing to /docs/extensions and /docs/extensionAPI"
- [x] Website: Offer redirects
- [x] Website: Update sitemap.xml
- [x] Update all links in vscode-docs
  - [x] Migrate ContentID. See #2234
- [x] Update links in vscode
- [x] Update links in vsce https://github.com/Microsoft/vscode-vsce/pull/313
- [x] Update links in yeoman generator
- [x] Update all links in samples https://github.com/Microsoft/vscode-extension-samples/pull/130

[2018-11-06 19:52] ackvf commented on #1760
Thanks for clarification.

[2018-11-07 19:09] warxe007 opened #2168 "Import stataments for serving static files"
I think it would be important to mention in the tutorial that the order of the import stataments is important in the Serving Static Files section.

This works:
[code]

The browser doesn't find the site.css file if the "staticfiles_urlpatterns" is after "from django.urls import include, path", as shown below:
[code]

[2018-11-07 19:11] #2168 closed

[2018-11-08 02:05] hwasinR opened #2171 "Vscode debug on win7: time out waiting for debugger connection"
**I use anaconda to install python lib and my setting json is:**
`{
    "python.pythonPath": "D:\\Anaconda\\python.exe",
    "python.terminal.activateEnvironment": false,
}`
**below is my traceback:**
`(base) C:\Users\Administrator\hello>cd c:\Users\Administrator\hello && cmd /C "set "PYTHONIOENCODING=UTF-8" && set "PYTHONUNBUFFERED=1" && D:\Anaconda\python.exe c:\Users\Administrator\.vscode\exten

[2018-11-08 03:34] gregvanl commented on #2171
Moving to the ms-python.python extension repository as not a documentation issue.

[2018-11-08 03:37] gregvanl commented on #2171
This issue was moved to Microsoft/vscode-python#3253

[2018-11-08 03:37] #2171 closed

[2018-11-08 04:00] gregvanl commented on #2109
vue-html and styled-css are language identifiers added by extensions (vue-html comes from Vetur, not sure about styled-css). javascriptreact is a language identifier in the product so will add it.

[2018-11-08 04:07] #2159 closed

[2018-11-08 04:08] gregvanl commented on #2109
JavaScript React identifier added with https://github.com/Microsoft/vscode-docs/commit/2f39e439f9f86248c92256267911571f05aca60c

[2018-11-08 04:08] #2109 closed

[2018-11-08 04:12] gregvanl commented on #1930
Closing as no progress for one month. @jdneo @hexiaokai

[2018-11-08 04:12] #1930 closed

[2018-11-08 11:49] alvinsight commented on #2109
Hey @gregvanl thank you for doing this!

How about JSX ?
It might be wrong but it looks like it's another language

![screen shot 2018-11-08 at 11 45 48](https://user-images.githubusercontent.com/4254030/48196967-0672b300-e34c-11e8-8eb5-0d92d33246b8.png)
![screen shot 2018-11-08 at 11 45 37](https://user-images.githubusercontent.com/4254030/48196971-0b376700-e34c-11e8-9136-197dd2a854d3.png)

I'm b

[2018-11-08 22:53] kraigb commented on #2136
Closed via #2005; we don't have full examples for every linter, so we'll just leave this one as a simple entry in the table.

[2018-11-08 22:53] #2136 closed

[2018-11-09 22:42] #2163 closed

[2018-11-09 23:00] gregvanl commented on #2109
The "jsx" identifier is not built into VS Code and is likely added by an extension. I see it for the Babel JavaScript extension (mgmcdermott.vscode-language-babel) which also adds language id "styled-css".
You can always check the installed language identifiers by running the **Change Language Mode** command for a file and reviewing the drop-down list.

![image](https://user-images.githubuserconte

[2018-11-09 23:37] gregvanl commented on #2157
Hi @mnp3, I wasn't able to reproduce your issue and the existing snippet worked for me. Could there have been something already in your .bash_profile file which caused the problem?

[2018-11-12 23:03] #2157 closed, assigned to gregvanl

[2018-11-14 02:23] stone-zeng opened #2183 "Update the image of extensions at the homepage"
The following [image](https://code.visualstudio.com/assets/images/Hundreds-of-Extensions.png) show hundreds of extensions for VS Code:

![Hundreds-of-Extensions](https://code.visualstudio.com/assets/images/Hundreds-of-Extensions.png)

However, some of the extensions are outdated. For example, the [VSCode-LaTeX](https://marketplace.visualstudio.com/items?itemName=ms-vscode.latex) has been labeled a

[2018-11-14 17:45] gregvanl commented on #2183
@auchenberg Looks like we should to a review of this list (also see the deprecated spell checker). If you can come up with a list (based off recommended extensions?), then we can ask @misolori to create a new image.

[2018-11-14 17:48] misolori commented on #2183
Would be even better if this list could be dynamically updated (either curated or based on popularity) so we didn't have to worry about updating a static image.

cc @octref

[2018-11-14 17:54] octref commented on #2183
If I can get a marketplace API to retrieve the top extensions and their icons, I can dynamically generate these.

[2018-11-14 17:54] octref commented on #2183
Otherwise, we should take some time to go through the images. https://github.com/Microsoft/vscode-docs/issues/1822 and there's one for the topmost image at homepage too.

[2018-11-14 20:46] octref opened #2186 "Fact-check and complete the language-configuration topic"
Language Configuration receives its own topic: https://vscode-ext-docs.azurewebsites.net/api/language-extensions/language-configuration-guide

Previously it was at: https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributeslanguages

I want someone familiar with the features to do a fact check and edit for this topic, so I'm choosing @rebornix .

- [x] Like the other sections, p

[2018-11-14 23:58] octref opened #2187 "Review snippets guide / sample"
- https://vscode-ext-docs.azurewebsites.net/api/language-extensions/snippet-guide
- https://github.com/Microsoft/vscode-extension-samples/tree/master/snippet-sample

The source of doc is at https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/language-extensions/snippet-guide.md

Please review this guide / sample combo. Edit as you fit, and add things you think are missing.

[2018-11-15 00:20] octref opened #2188 "Add Syntax Highlight Guide / Sample"
Writer: @mjbvz
Reviewer: @alexandrudima

---

Work should happen on: https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/language-extensions/syntax-highlight-guide.md

A sample should be included in https://github.com/Microsoft/vscode-extension-samples. Follow [Snippets Sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/snippet-sample) and [Language Configuration Samp

[2018-11-15 00:21] octref commented on #672
Closed in favor of https://github.com/Microsoft/vscode-docs/issues/2188.

[2018-11-15 00:21] #672 closed

[2018-11-15 00:34] octref opened #2189 "Add a simple guide / sample for Commands"
Writer: @mjbvz
Reviewer: @octref / @jrieken

---

Add a guide to Extension Guides / Command, and a sample at vscode-extension-samples.

- Explain 3 things: How they relate to each other, what's the use of each
  - `vscode.commands.executeCommand`
  - `vscode.commands.registerCommand`
  - `contributes.commands`
- Point to https://vscode-ext-docs.azurewebsites.net/api/references/commands

[2018-11-15 03:16] mjbvz opened #2190 "Explore reorganizing js/ts docs"
Explore reorganizing the end user JavaScript and TypeScript docs. These language pages are currently quite long and difficult to browse. We should consider splitting the pages up and refreshing the content

[2018-11-15 08:51] jrieken commented on #2187
I have removed the advertisement because that doesn't belong in a technical guide. Then I think that the whole guide as zero meat and it took me a really long time understand what the goal is. Makes me question what the guides are about? Is the goal to explain every single contribution point? How does this compare to Extension Guides?

[2018-11-15 09:04] jrieken opened #2191 "nuke "Programmatic Language Features" guide"
https://vscode-ext-docs.azurewebsites.net/api/language-extensions/programmatic-language-features is the most confusing thing.

* it mixes LSP with vscode-API which doesn't make any sense at all. When would I ever implement an extension that uses LSP logic for a hover and plain extension logic for suggestions?
* it uses a cropped real world sample, go lang, which does help. the only non boilerplate

[2018-11-15 09:59] jrieken opened #2192 "Publishing an extension should really not be an advanced topic"
https://vscode-ext-docs.azurewebsites.net/api/advanced-topics/publishing-extension I like the content but if publishing is categorised as advanced by use than we are doing something fundamentally wrong. It should (and IMO is) easy to publish an extension and it should be part of "Get Started"

[2018-11-15 10:02] jrieken commented on #2189
don't forget

* menus,
* keybindings
* when clauses
* arguments
* the fact that *anyone* can call your commands

[2018-11-15 17:46] octref commented on #2189
@jrieken I think you understand what the emphasis of this document should be more than I do, so adding you as a reviewer.

[2018-11-15 18:07] octref commented on #2187
@jrieken I was thinking maybe we should add pointers to successful usages of a pattern. For example, TreeView doc could say: "GitLens and GitHub PR extensions are two extensions that use this extension API". Are you opposed to including any such pointers in the API doc?

I agree this guide currently does not have much meat. It's
1. For the sake of completeness in Language Extensions section
2. For

[2018-11-15 18:19] octref commented on #2191
That is taken care upfront: https://vscode-ext-docs.azurewebsites.net/api/language-extensions/overview#Programmatic-language-features

I think the purpose of the doc is more telling people the mapping from our UI to the related vscode API and LSP methods.

Agreed. Will fix.

That's a good idea. I'll try to do a plaintext Language Server Sample.

Why "without code sample"?

I do think we need some

[2018-11-15 18:36] octref commented on #2192
The top-voted issue in yo generator is https://github.com/Microsoft/vscode-generator-code/issues/50.

We already take out publisher out of initial extension creation, so people have less frustration upfront for creating issues. Publishing shouldn't be really involved in "Get Started". Imagine iOS beginner tutorial including content for creating developer account and publishing to iOS store.

I agr

[2018-11-15 20:48] octref commented on #2012
Hey Greg, here is the TOC I did for API: https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/toc.json. This makes it much easier for me to shuffle topics around.

If you want, I can switch over docs too.

[2018-11-15 22:53] octref commented on #2192
Did that, and most people in Redmond like it so I'm pushing.

![image](https://user-images.githubusercontent.com/4033249/48586895-1eb37680-e8e6-11e8-9bb0-1c237c70e4c1.png)

![image](https://user-images.githubusercontent.com/4033249/48586890-19eec280-e8e6-11e8-9d10-31eac8b079ed.png)

[2018-11-15 22:53] #2192 closed

[2018-11-16 01:19] octref opened #2194 "Issue with Tree View Guide"
https://vscode-ext-docs.azurewebsites.net/api/extension-guides/tree-view

- The guide should explain upfront what is Tree View and what is View Container (best with a illustration like https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/extending-workbench)
- Does not mention `test` as one of the location. Where is it?
- Does not explain `contributes.views.tree-view`.
- Sample cod

[2018-11-16 08:10] jrieken commented on #2187
Maybe as appendix for further reading, surely not atop as the first thing to see and I am also not a fan of the tiles as they grab too much attention.

[2018-11-16 11:33] jrieken commented on #2191
I don't know useful multiple page document is for that. In `vscode.d.ts` we usually have a lead-comment for the providers, like so:

<img width="667" alt="screenshot 2018-11-16 at 12 26 21" src="https://user-images.githubusercontent.com/1794099/48618847-e621a480-e99a-11e8-92b8-83bf0ed148c7.png">

That then links to user doc where the feature is explained in depth. I think that's sufficient but if

[2018-11-16 15:19] sandy081 commented on #2194
Not sure what you mean by that? Tree view sample in the master is the latest. Shall I have to update the extdocs branch?

[2018-11-16 16:51] octref commented on #2194
<img width="820" alt="image" src="https://user-images.githubusercontent.com/4033249/48635302-9e8c2000-e97c-11e8-91dd-8d20d3be1f4a.png">

<img width="671" alt="image" src="https://user-images.githubusercontent.com/4033249/48635339-b663a400-e97c-11e8-83ae-b458c1ba6781.png">

I mean in the doc, use sample code that people can find in the samples. This way they won't get confused when looking for the

[2018-11-16 16:55] octref commented on #2187
Sounds good. I'll close this one then.

I did point to other extensions in the Extending Workbench topic. Feel free to open new issues if you don't like that either: https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/extending-workbench

[2018-11-16 16:55] #2187 closed

[2018-11-16 17:42] octref commented on #2191
I can try to shorten that doc a bit. Let's take two more nuanced features, Signature Help and Folding.

- How do we make people realize these features are extensible by extensions?
- How can people find names such as signature help, and its corresponding API/LSP method if he doesn't know it already?
- How do we convey that folding is by default based on indentation, but you can make your language

[2018-11-16 20:05] octref opened #2195 "Update debugger topic"
Writer: @weinand
Reviewer: @roblourens

---

- Page: https://vscode-ext-docs.azurewebsites.net/api/extension-guides/debug-extension
- File to edit: https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/extension-guides/debug-extension.md

The problems:

- This page does not link to the new DAP website
- This page does not include updated illustrations such as those in this [blog post](https:/

[2018-11-16 22:15] octref opened #2196 "Review Workbench topic"
https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/extending-workbench

@isidorn Please do a read through and fact checking for the topic. Point out anything you don't like.
For smaller changes, feel free to directly make changes.

[2018-11-16 22:21] octref commented on #2195
@weinand BTW if you want the same style of illustration on the LSP website, I can do it for you (or @misolori).

[2018-11-16 22:57] octref opened #2197 "Write the color theme topic"
Writer: @Tyriar (Please ping the reviewer once you are done with writing)
Reviewer: @bpasero

Instructions are at: https://vscode-ext-docs.azurewebsites.net/api/extension-guides/color-theme
File to edit: https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/extension-guides/color-theme.md

[2018-11-19 04:51] octref commented on #2194
For the sake of consistency I'll try to make illustrations and explain View / View Container. @sandy081 you can just focus on addressing the rest of the feedback. Thanks!

[2018-11-19 04:51] octref opened #2199 "Plan to continue polish extension doc"
We would like to publish the revamped https://vscode-ext-docs.azurewebsites.net/api for November iteration.

Following the work we did at https://github.com/Microsoft/vscode-docs/issues/1949, we continue to do the minimal amount of work to get the API extension out. After publishing, we would create a backlog of nice-to-have topics / enhancements and tackle them on an availability basis.

- [x] Gu

[2018-11-19 04:51] octref commented on #1949
Closed in favor of https://github.com/Microsoft/vscode-docs/issues/2199.

[2018-11-19 04:51] #1949 closed

[2018-11-19 11:21] sandy081 commented on #2194
@octref Got it. I updated the tree view guide with necessary explanation of views, view containers and actions. Also added screenshots for better understanding.

Updated the code in master to be in sync with sample. This was a copy paste issue.

[2018-11-19 11:21] #2194 closed

[2018-11-19 15:52] #2113 closed

[2018-11-19 15:53] kraigb commented on #2113
@thernstig Thanks for filing this issue! Apologies for taking a few weeks to come round to it, but I've corrected the docs.

[2018-11-19 16:06] Gruntfuggly opened #2215 "Documentation examples for snippets format if/else"
Would if be possible to add some more examples in the snippets configuration documents?

I would particularly like to understand how to add an alternative to the format transform.

At the moment whatever I try just seems to repeat each character of the capture group with my alternative text?

[2018-11-19 19:40] #1509 closed

[2018-11-19 19:42] kraigb commented on #1945
I just tested the section of the tutorial on a fresh machine with a stock Python 3.6 installation, and everything worked fine using python -m pip install matplotlib. I will try again with an Anaconda install, but in the meantime I'm closing this issue because it seems to be an edge case that's not blocking you.

[2018-11-19 19:42] #1945 closed

[2018-11-19 19:43] gregvanl commented on #1072
https://github.com/Microsoft/vscode-docs/commit/4aff14de92615d9e75894e4d2389015f6f124481

[2018-11-19 19:43] #1072 closed

[2018-11-19 21:29] octref commented on #2149
Discussed with Kai and Joh, this is fine.

I would like to avoid propositions on navigation.

Tools of the trade is gone. Other changes already made it in.

[2018-11-19 21:29] #2149 closed

[2018-11-19 21:30] octref commented on #2147
Yep, we did that.

We did that too! https://github.com/Microsoft/vscode-docs/issues/2192

[2018-11-19 21:30] #2147 closed

[2018-11-19 21:32] octref commented on #2144
Personally I think it adds a bit of flavor. It's what a lot of tech documentation do.

![image](https://user-images.githubusercontent.com/4033249/48736188-73fdc980-ebff-11e8-9389-a03019decbab.png)

![image](https://user-images.githubusercontent.com/4033249/48736196-7829e700-ebff-11e8-8607-a6912ef27767.png)

Kai and Joh seems ok with this, so I'm gonna insist here.

[2018-11-19 21:33] octref commented on #2150
Made that simpler:

https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/theming

This will be the more detailed guide:

https://vscode-ext-docs.azurewebsites.net/api/extension-guides/color-theme

[2018-11-19 21:33] #2150 closed

[2018-11-19 21:38] octref opened #2202 "Advanced Topics / Behind the Scenes topic"
- Explain the details of "what happens when you press F5 on the hellocode sample"
- Explain what is "ExtensionHost"
- Some contents from https://vscode-ext-docs.azurewebsites.net/api/references/principle-and-patterns.

[2018-11-19 21:38] octref commented on #2151
They are changed to "Declarative Language Support" and "Programmatic Language Support" now throughout the doc.

This sentence doesn't add value and should be removed.

Done. Now it's simply 3 gifs that help you quickly getting started.

While syncing with Kai, we feel there should be an "Advanced Topics / Behind the Scenes" topic that explains the implementation details, what "Extension Host" is,

[2018-11-19 21:38] #2151 closed

[2018-11-19 23:12] octref commented on #1412
Addressed by new docs.

[2018-11-19 23:12] #1412 closed

[2018-11-19 23:18] octref opened #2203 "Find a good place for content in Principles and Patterns"
The current content of https://vscode-ext-docs.azurewebsites.net/api/references/principle-and-patterns is a hodgepodge, addressing a wide range of audiences:

- Some contents are very basic for **beginners**, like "Using Node.js modules with Extensions".
- Some content are for **every extension developers**, like "No access to DOM", "Extension Isolation / Stability"
- Some contents are for **API r

[2018-11-19 23:42] DonJayamanne opened #2204 "Change default value for `pyTestPath` to `pytest` from `py.test`"
Change default value for `pyTestPath` to `pytest` from `py.test`.

https://code.visualstudio.com/docs/python/unit-testing#_pytest-configuration-settings

[2018-11-19 23:53] gregvanl commented on #1509
Ember enthusiasts: Feel free to provide suggestions or PRs for https://github.com/Microsoft/vscode-docs/blob/master/docs/nodejs/emberjs-tutorial.md.
Unfortunately, the client-side debugging story isn't great and I've provided some context in a Common questions entry.

[2018-11-20 05:42] bpasero commented on #2119
@octref sure, just let me know when I should review (e.g. is the topic complete?)

[2018-11-20 09:11] bpasero commented on #2196
@octref I think there is more to extending the workbench:
* adding entries to menus
* adding actions to toolbars (e.g. editor)

Other workbench pieces useful to know about (not really "extendind"):
* notifications
* progress
* pickers
* status bar message
* input wizards
* modal dialogs (including file dialogs)
* output channels
* source control provider
* debug adapter (?)

[2018-11-20 14:08] #2204 closed

[2018-11-20 18:45] octref commented on #2196
- notifications
- progress
- pickers
- modal dialogs (including file dialogs)

These are covered in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/common-capabilities.

- status bar message

That's the last one in the workbench topic, right?

- input wizards

Not sure which one is this.

- output channels: We don't have anything for it. We can either put together a simple gui

[2018-11-20 18:53] octref opened #2207 "Guide for using contributes.menus"
Position: Extension Guides / Menu

This should be one of the options visually explained in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/extending-workbench.

Move content from https://vscode-ext-docs.azurewebsites.net/api/references/contribution-points#contributes.menus to this guide, as the reference should stay succinct.

[2018-11-20 19:19] octref opened #2208 "Update tree-view illustrations"
https://code.visualstudio.com/api/extension-guides/tree-view

It should follow the same style as the ones in the Workbench illustration.

[2018-11-20 19:22] octref opened #2209 "Split LSP Guide into Smart Editing Guide and Smart Editing LSP Guide"
Currently, this https://vscode-ext-docs.azurewebsites.net/api/language-extensions/smart-editing-lsp-guide is too long.

I want to split its content into https://vscode-ext-docs.azurewebsites.net/api/language-extensions/smart-editing-guide.

[2018-11-20 20:00] octref opened #2210 "Fix table auto-generation"
Now both https://vscode-ext-docs.azurewebsites.net/api/extension-guides/overview and https://github.com/Microsoft/vscode-extension-samples looks ugly

[2018-11-20 20:04] octref opened #2211 "Document using native modules"
Ref: https://github.com/Microsoft/vscode/issues/658

Next time someone really asks for using native modules, please write a doc instead of responding in GitHub issues.

Todo:

- [ ] Put enough warnings upfront
- [ ] Put together a sample, maybe using sass or oniguruma?
- [ ] Explain pitfalls of using native modules

[2018-11-20 20:06] octref commented on #2203
Related https://github.com/Microsoft/vscode-docs/issues/2202

[2018-11-20 20:16] stef-levesque commented on #2211
Alternatively, having documentation for using WebAssembly in VSCode Extensions would be helpful too!

[2018-11-20 20:57] octref opened #2212 "Document using WASM in extensions"
- [ ] Put together a sample using a WASM module (maybe onigasm?)
- [ ] Document how to use WASM in VS Code, and related pitfalls, etc

[2018-11-20 20:58] octref commented on #2211
@stef-levesque Oh I was just about to create that issue, did that with #2212

[2018-11-20 21:32] susanin76 opened #2213 "matplotlib installation troubles - macOs"

[2018-11-20 21:49] gregvanl commented on #2213
Hi @susanin76 Can you provide more details about your issue? Thanks

[2018-11-20 21:51] susanin76 commented on #2213
Hi,  VScode novice, tried to install matplot lib by entering line command "sudo python3 -m pip install matplotlib" as suggested, but  "NameError: name 'plt' is not defined"
Ran debugger, here attached what I came across at the outputs end:

ImportError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See

[2018-11-20 22:36] kraigb commented on #2213
Can you try adding `import matplotlib` before the line `import matplotlib.pyplot as plt`? This StackOverflow thread suggests that might be the solution: https://stackoverflow.com/questions/37859104/name-plot-is-not-defined.

[2018-11-20 23:49] auchenberg commented on #2183
I like that idea @misolori, we should pull top 20 extensions from the marketplace ("most popular) which is by install numbers, but at least consistent in product, on marketplace website and our website.

[2018-11-21 05:47] bpasero commented on #2196
Yeah, could be added to that topic. But probably not worth mentioning given that progress can now also be displayed much better using notifications. But this is a progress message that shows up in the status bar, which is different from status bar items.

All the API  @chrmarti added to ask the user for input through pickers.

[2018-11-21 06:49] octref opened #2214 "Turn QuickInput sample into a guide"
The QuickPick API is the only way for extension author to easily get user input. It's mentioned in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/common-capabilities#quick-pick and has a sample, but I think it's worth it to write up a short guide explaining various usages of the API.

[2018-11-21 06:51] octref commented on #2196
I see, QuickInput is mentioned in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/common-capabilities#quick-pick. Created https://github.com/Microsoft/vscode-docs/issues/2214.

[2018-11-21 08:20] susanin76 commented on #2213
Tried it, but didn't work( should I uninstall from anaconda distribution
and have another try via Vscode?

Il giorno mar 20 nov 2018, 23:36 Kraig Brockschmidt <
notifications@github.com> ha scritto:

[2018-11-21 09:20] chrmarti commented on #2214
The `createQuickInput` API is advanced. We should first check how many usages there are.

[2018-11-21 17:00] octref commented on #2214
@chrmarti It can have advanced and simple usages. `Common` in this case means `essential` because this remains the only viable way for ext author to collect user input.

It's in the extensibility backlog, so no hurries. Maybe next time when someone asks you how to use the QuickPick API, instead of writing a GH issues write it as a guide here.

[2018-11-21 18:30] kraigb commented on #2213
Hmmm. I really don't know offhand. Did you investigate any of the other referenced material in the error message, e.g. the  'Working with Matplotlib on OSX' in the Matplotlib FAQ? (https://matplotlib.org/faq/osx_framework.html)

[2018-11-22 05:57] miccall opened #2216 "can not show local var"
![image](https://user-images.githubusercontent.com/20721387/48884282-c0931000-ee5e-11e8-9170-b75e1db270a8.png)

[2018-11-22 23:13] Almenon commented on #683
It might be a while till we have a way to automatically generate a list of commands so in the meantime I just added some directions for finding simple commands.

[2018-11-23 08:15] jrieken commented on #683
That's only half of the problem, the real problem is that 99% of the commands are registered without any metadata. So first you need to hunt down all the possible places that end up registering a command and then add docs for them.

[2018-11-24 23:13] FranklinYu opened #2220 "Document the “icon” option of extension commands"
Some extension has commands with icons, such as [GitLens](https://github.com/eamodio/vscode-gitlens/blob/4ddb871459a3a1a1e132c8bdf83ac12e3b699649/package.json#L1546-L1554) (warning: large JSON file). Snippet of that section:

[code]

Is this documented somewhere? [Current documentation](https://github.com/Microsoft/vscode-docs/blob/c3e701ffb9e77c7831d5796a01de2bd27a8c9c52/docs/extensionAPI/extensi

[2018-11-25 21:46] weinand commented on #2195
I've updated the [Extension Guide](https://vscode-ext-docs.azurewebsites.net/api/extension-guides/debug-extension) and [Extension Capabilities Overview](https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/overview#debugger) as suggested by @octref.

@roblourens now it's your turn to review this. I suggest that you incorporate fixes and suggestions directly.

[2018-11-26 05:32] gregvanl commented on #2216
Hi @miccall This looks like a VS Code product issue rather than a documentation issue. You can enter an issue in the VS Code product repo at https://github.com/Microsoft/vscode/issues.

[2018-11-26 05:32] #2216 closed

[2018-11-26 06:49] dzmitry-lahoda commented on #1339
First task works, second fails.

[code]
Error is next:
``
WARNING: Could not load symbols for 'FooBar.dll'. 'FooBar.pdb' is a Windows PDB. These are not supported by the cross-platform .NET Core debugger.
Loaded 'FooBar.dll'. Cannot find or open the PDB file.
[code]

[2018-11-26 16:10] mjbvz commented on #2189
Fixed by e87428b8554108460ae57369248187ab18ef19ed

[2018-11-26 18:30] tetchel opened #2225 "Where are command descriptions displayed?"
The example at https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributescommands makes clear how the "title" and "category" attributes are shown to an extension's user.
However, I don't see anywhere in the UI where the command's "description" is presented. Where does this show up? Could it be added to the example page above?

Thank you

[2018-11-26 19:47] octref opened #2226 "Update extension publishing guide so user grant less permissions"
The current [publishing guide](https://vscode-ext-docs.azurewebsites.net/api/working-with-extensions/publishing-extension) teaches the user to grant all organization access and all scopes. With Azure DevOps updates, the power granted to the PAT is huge.

We should find a minimum required amount of scopes and guide users to use that, instead of granting all privileges.

[2018-11-26 22:55] tetchel commented on #2225
Realizing now that I never saw anything from Microsoft that references this attribute, and that it isn't in the package.json schema. I think I might have just started using this because another extension I was using as an example uses this - but it might only be for the extension's developers.

Am I just wasting time by setting this? 😄

[2018-11-26 22:56] #2210 closed

[2018-11-27 01:50] mjbvz commented on #2188
Add initial work with d1cb53495e1ca547937cf665e0b27fb70ec3efb5

[2018-11-27 01:50] #2188 closed

[2018-11-27 20:02] roblourens commented on #2195
I made some proofreading edits, feel free to revert or change any of them, but here are some other questions:

- I think the numbers on the first image should be larger, they are a bit hard to read, the way the image is sized on the page.
- The terms "Debug extension API" and "Debugger extension" are confusing and used inconsistently. Sometimes they are uppercased, sometimes not. Sometimes "debug"

[2018-11-27 22:37] roblourens commented on #2195
Also, @octref I see both "Extension point" and "Contribution point" used, are those the same/

[2018-11-27 22:37] octref opened #2231 "Copy over Icon Theme guide"
- Copy over https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/theming into a new topic, Icon Theme
- Refer to it in Theming section
- Add to navigation

[2018-11-27 22:40] octref commented on #2195
They aren't. We should always use `Contribution Point`, which is explained in the beginner guide and referenced in all places.

[2018-11-27 22:54] gregvanl commented on #2225
Hi @tetchel I just double-checked with the product team and you're correct that there isn't a "description" attribute used by VS Code.

[2018-11-27 22:54] #2225 closed

[2018-11-28 01:06] gregvanl opened #2232 "Edit button needs to handle /api topics"
Right now the edit button is hard-coded for https://github.com/Microsoft/vscode-docs/blob/master/docs/ and will 404.

[2018-11-28 01:15] gregvanl opened #2233 "API topics missing ms.date in header"
This is needed for reports on content freshness and for the Last Updated date shown at the bottom of each topic.
This date can either be:
- using the DateApproved field currently found in the /docs topics
- based on the last commit date

Currently we use DateApproved for significant updates or after a review (each release the team signs off that the main docs are up to date). We don't update DateA

[2018-11-28 01:20] gregvanl opened #2234 "API topics missing ms.ContentId in header"
ms.ContentId is a fixed GUID which uniquely identifies the topic and is used by content team DEVDIV reporting.

Currently it comes from the ContentId field in the topic metadata header.

[code]

[2018-11-28 01:27] gregvanl opened #2235 "API topics og:url is incorrect"
Currently it is hard-coded to https://code.visualstudio.com/docs/

Easy fix in api-template.html:

[code]

[2018-11-28 01:33] #2226 closed

[2018-11-28 02:19] gregvanl opened #2236 "API topics relative topic links aren't navigatable from GitHub"
Relative links need to have `.md' so that they work as links on GitHub, where a surprising number of users read out topics.

We already support this in the /docs topics but the current logic to preprocess out '.md' from relative topic links doesn't include 'api'. It is a one line fix to make the build aware of the new /api location.

from vscode-website gulpfile.common.js:

[code]

[2018-11-28 15:32] gregvanl commented on #2144
I'm pretty sure we discussed this in a Sitdown and several others preferred to leave this as Hello World. Again there are marketing implications if we promote the term "Code" and we don't want to get them involved.
I'm reopening this mostly since this change also involves updating the yo code generator and any other tutorials which third parties have created. I think we should leave the message th

[2018-11-28 15:36] jrieken commented on #2144
👍

[2018-11-28 15:38] tetchel commented on #2225
That's embarrassing, thanks 😄

[2018-11-28 16:57] gregvanl commented on #2225
@tetchel Not at all. Thanks for taking the time to bring up a possible doc issue.

[2018-11-28 18:37] Tyriar commented on #2197
Done, ready for review @bpasero. I mainly migrated the content over from https://code.visualstudio.com/docs/extensions/themes-snippets-colorizers#_adding-a-new-color-theme and did a bit of clean up.

[2018-11-28 19:44] brettcannon opened #2237 "Document the Python extension's debugger API for other extensions"
https://github.com/Microsoft/vscode-python/issues/3121

This is now being relied on by the Functions extension, so it's as official as we can get as an API for other extensions to rely on.

[2018-11-28 22:56] gregvanl opened #2238 "Port docs/extensions and docs/extensionAPI commits to /api"
The current ext-docs branch is about two milestones behind master and there have been several extensibility topic updates in master which need to be manually ported since the relevant content has moved to a new location.

A couple of examples are:
The PAT token recommendations https://github.com/Microsoft/vscode-docs/pull/2230
Removing Travis and AppVeyor from testing-extensions https://github.com

[2018-11-29 01:13] octref commented on #2236
These are URLs, not path-to-files. They are not designed to be working on GitHub.

Anyone clicking onto links such as `/api/references/vscode-api#commands` will fail. We should not try to support those use cases.

[2018-11-29 01:15] gregvanl commented on #2236
It's a one-line change to support GitHub. I don't understand why we wouldn't want to do it. We already support it for /docs and users really like it.

[2018-11-29 01:21] octref commented on #2236
1. When we link to `(/license)`, we mean to guide users to `https://code.visualstudio.com` + `/license`, not `https://github.com/Microsoft/vscode-docs` + `/license.md`
2. GitHub handles hash links differently than our website. All the `#_` links never work for GitHub.

[2018-11-29 01:58] octref commented on #2195
@weinand

The debugging part under Extension Capabilities Overview is well-written, but it's a bit too long as a sub-topic under the Overview. I moved it to a sub-topic, and put up a shorter paragraph.

![image](https://user-images.githubusercontent.com/4033249/49194194-fe98a400-f336-11e8-89f3-6dd0c225592d.png)

Feel free to make edits, as I'm not familiar with Debug API.

The only requirement is

[2018-11-29 01:59] octref commented on #2195
Link updated: https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/overview

[2018-11-29 02:14] gregvanl commented on #2236
Have a look at vscode-website gulpfile.common.js. There is code there to remove .md and also handle .md#.

[code]
H2 header links work for our docs on GitHub. It's not pretty but it works.
I guess it's your call if you don't want to support GitHub navigation for the /api topics.

[2018-11-29 06:37] octref commented on #2236
Thanks for understanding. I read through the last commits in ext-docs by 5 others. None of the new contents written uses .md. It's not part of standard Markdown and we should not have weird compile rules that team members and contributors can't find info anywhere.

[2018-11-29 07:02] bpasero commented on #2197
Thanks, LGTM

[2018-11-29 15:33] weinand commented on #2195
Thanks everyone for the feedback. I'll fix the documents and incorporate the suggestions.

Some comments about the "Extension Capabilities Overview":
- I have a problem with the bullet list's title **"Example Extension Points"**. This sounds like "Contribution Point" but some items below it are not "Contribution Points" but just "Extension API". I think it would help if we could find a title that

[2018-11-29 17:52] octref commented on #2195
Yes I don't like that either. I changed it to **Extension Ideas**. I'm reviewing the topic and will remove all references to "Extension Point".

[ ] Alright, reduce "Programmatic Language Features" to less than 1000 characters @octref

[2018-11-29 18:35] roblourens commented on #2195
I still feel that there is too much duplication between the debugging capabilities doc, and the debugging guide. I don't think it needs to go so far in depth to explain the basic capabilities of debugger extensions in vscode, and the details of what debug adapters are, what the debug protocol is, etc, are better left to the full guide.

[2018-11-29 18:42] #2197 closed

[2018-11-29 21:31] weinand commented on #2195
@roblourens please wait with another round of reviews until I have pushed my changes. The debugging capabilities doc is already gone, but I will push the changes only after I have fixed all the links. As usual I will announce when I'm done.

[2018-11-29 21:45] gregvanl commented on #2203
Some telemetry:
- ranked #123 in terms of pageviews with only 2K page views in November
- only 4 ratings for November 3/4 smiles.
Given the low page views, we may want to look at pulling out those sections we think are important for extension authors and move them to other topics.

[2018-11-29 22:11] roblourens commented on #2195
Sure, just recording the outcome of a long conversation I had with @octref regarding the organization.

[2018-11-29 23:11] weinand commented on #2195
I've tried to address Rob's feedback:

- In order to make the numbers larger, I've cropped the right side of the image because no debug specific features lived there anyway.
- I've tried to make the terminology and capitalization consistent.
- I've removed the (unexplained) "Extension Protocol" label and text from the second drawing.
- deprecating the "onDebug" activation event is a valid objectio

[2018-11-29 23:22] brettcannon commented on #2237
Will take care of Microsoft/vscode-python#3333

[2018-11-29 23:24] weinand commented on #2195
@octref please rename "Debug Extension" in the left navbar to "Debuggers" because the title of the guide is "Debugger Extension" and it seems that we do not use the redundant "Extension" in the subtopics titles.

[2018-11-29 23:55] weinand commented on #2195
I'm done with my updates.

[2018-11-29 23:55] #2195 closed

[2018-11-30 00:02] gregvanl opened #2240 "No mention of .vscode/extensions folder in API topics"
There was a section in the removed yocode.md topic.

Do we want extension authors to side-load an extension under development (as described in the "Test a new Color Theme" section in api/extension-guides/color-theme topic) or should they always rebuild a VSIX and install that way (does that involve having un-install and two reloads?).

[2018-11-30 01:33] harsh-shrimal opened #2242 "Python (simple flask app) docker container deployment to Azure Web App does not work"
I am trying to deploy a docker image for a very simple python flask app to Azure Web App. However, upon deployment, App Service complains that the container did not start within expected time. Upon doing some investigation, it appears that the container actually starts very quickly. Apparently, the app service infrastructure is not being able to ping the container.

I see following container logs

[2018-11-30 01:39] roblourens commented on #2195
Pushed a few minor edits, I think it looks great. One last question, should all instances of `launch.json` be in backticks?

[2018-11-30 01:39] harsh-shrimal commented on #2242
I am trying to deploy a docker image for a very simple python flask app to Azure Web App. However, upon deployment, App Service complains that the container did not start within expected time. Upon doing some investigation, it appears that the container actually starts very quickly. Apparently, the app service infrastructure is not being able to ping the container.

I see following container logs

[2018-11-30 02:18] gregvanl opened #2243 "/docs and /api are using different style H2 header links"
/docs use topic#_header while /api uses topic#header (no underscore)

docs/setup/setup-overview#_cross-platform
api/get-started/your-first-extension#developing-the-extension

I'm not sure why code.visualstudio.com is using the underscore but if we change /docs to not have the underscore, we will break any existing hard-links created externally (include VS Code product links).

[2018-11-30 02:23] gregvanl opened #2244 "Need to do a full pass on relative topic links in /api"
We need to check for broken links across all the topics after the redirects are implemented.

Some H2 links aren't working since `topic.md#header` is not being converted.

For example in api/extension-guides/command, in the Controlling when a command shows up in the Command Palette section the when clause link 404s since it is docs/getstarted/keybindings.md#when-clause-contexts

[2018-11-30 02:42] gregvanl commented on #2232
The link is coming from portaldocs-template.html where it is hard-coded.

[code]

[2018-11-30 02:46] gregvanl commented on #2195
We use backticks for filenames so yes, it should be `launch.json`.

[2018-11-30 03:00] gregvanl opened #2245 "Should /api topic description be full sentence rather than TOC title | section"
Under /docs, we can use the MetaDescription header field to add a full sentence of text to the web page header 'description' and 'og:description' fields.

For example: /docs/extensions/example-hello-world:

[code]

Now under /api, we use the TOC title with the section name:

[code]

Having a longer description lets us add alternate terms for example 'plug-in' for extension. Will the shorter format

[2018-11-30 06:09] zhuzhuyule opened #2246 "Just need shortcut about : 'workbench.action.gotoSymbol.category'"
int the key bindings setting, I can find those:
![](https://i.loli.net/2018/11/30/5c00d2d94ef38.png)
![](https://i.loli.net/2018/11/30/5c00d2d94076f.png)

but not find keybinding command support this
![](https://i.loli.net/2018/11/30/5c00d3b5e316f.png)

I want add shortcut to binding: open command and input '@:'.

Can you help me?

[2018-11-30 06:30] gregvanl opened #2247 "/api Markdown has hard-coded paths to staging server"
There are a lot of links to https://vscode-ext-docs.azurewebsites.net in the Markdown files.

The generated api/extension-guides/overview table "Guide on VS Code website" and "API & Contribution" columns use the absolute URL.

The samples table in https://github.com/Microsoft/vscode-extension-samples also has the same staging server links.

[2018-11-30 06:41] gregvanl commented on #2236
Reopening as it turns out docs.microsoft.com content allows GitHub navigation and uses relative topic links with the .md extension.

[2018-11-30 07:53] octref commented on #2195
Done. FYI It's easy to do, just update https://github.com/Microsoft/vscode-docs/blob/ext-docs/api/toc.json

We do have "Markdown Extension" so I think "Debugger Extension" is fine.

[2018-11-30 14:06] susanin76 opened #2248 "Run Python File in Terminal - syntax error"
Every time I right click and try to run edited python file a syntax error is raised from terminal.
no issues so far with Shift+Enter or  Run Selection/Line.
what's wrong? thanks

[2018-11-30 14:11] susanin76 commented on #2248
I attach the terminal output:

  File "<stdin>", line 1
    /Users/user/miniconda3/bin/python /Users/user/miniconda3/Programmazione/example1.py
    ^
SyntaxError: invalid syntax

[2018-11-30 17:07] gregvanl commented on #2232
Fixed in api-template.html

[2018-11-30 17:07] #2232 closed

[2018-11-30 17:07] gregvanl commented on #2235
Fixed in api-template.html

[2018-11-30 17:07] #2235 closed

[2018-11-30 18:44] kraigb commented on #2248
What code are you trying to run?

[2018-11-30 18:48] octref commented on #2152
These are all addressed.

[2018-11-30 18:48] #2152 closed

[2018-11-30 18:49] octref commented on #2247
Trakced in #2165.

[2018-11-30 18:49] #2247 closed

[2018-11-30 19:38] octref commented on #2191
@kieferrm

[2018-11-30 19:45] octref commented on #2245
[code]

[2018-11-30 20:53] #2186 closed

[2018-11-30 21:00] octref commented on #1439
This content should go into https://vscode-ext-docs.azurewebsites.net/api/working-with-extensions/publishing-extension, and be referred to in "Testing Extension" topic like "This topics covers how to write unit tests but not for 'how to test your extension in stables', go to blah blah topic for that".

[2018-11-30 22:21] gregvanl commented on #2244
Closing as will be covered during testing of https://github.com/Microsoft/vscode-docs/issues/2165

[2018-11-30 22:38] octref commented on #2196
`OutputChannel` is a simple concept and I just briefly mentioned it in https://vscode-ext-docs.azurewebsites.net/api/extension-capabilities/common-capabilities.

All other feedback are either addressed or have tracking issues.

[2018-11-30 22:38] #2196 closed

[2018-11-30 22:43] octref commented on #2189
LGTM. @jrieken if you have more feedback please open new issues.

[2018-11-30 22:43] #2189 closed

[2018-11-30 23:12] octref commented on #2012
Done.

[2018-11-30 23:12] #2012 closed

[2018-12-01 00:05] octref commented on #2191
As a first step, I added a table. (@dbaeumer FYI, please keep it up to date)

![image](https://user-images.githubusercontent.com/4033249/49320940-6aa31580-f4b9-11e8-92c0-9c1625534caa.png)

What sections are missing from the listing:

- TypeDefinition
- DocumentLinks
- FoldingRange

I'll add them for December.

Extras:

- Convert `go` to `plaintext`
- Publish a sample that calls these API and provi

[2018-12-01 00:17] octref commented on #2243
As discussed:

- /api will have no underscore. /docs will continue to have it.
- For this release, we'll make sure redirects works (such as /docs#_foo to /api#foo)
- We can look into deprecating `_` links in /docs later. Old `#_foo` links will continue to work and point to the same location as `#foo`, but if you click `#` sign next to headers on the updated pages, it should go to anchors without `

[2018-12-01 00:38] octref commented on #2245
`MetaDescription` is now available for `/api` docs. If it's not set, it falls back to `${ Title } | VS Code API`.

[2018-12-01 00:38] #2245 closed

[2018-12-01 06:04] gregvanl commented on #2246
Here's a way from one of the VS Code dev team:

[code]

[2018-12-01 14:13] zhuzhuyule commented on #2246
@gregvanl
Thanks you!
You are right, thank you very much.

[2018-12-01 14:14] #2246 closed

[2018-12-01 20:01] susanin76 commented on #2248
price_list=[100,86,76,70,84,90,75,78,72,60]
gain = 0
minSofar=price_list[0]
for day in range(len(price_list)):
    minSofar = min(minSofar, price_list[day])
    gain = max(gain, price_list[day] - minSofar)
print(gain)

but it doesn't work at all with any code...

[2018-12-01 21:44] matiaso11 opened #2251 "Open in VC github project from section Python/Unit Testing"
How can I open project from https://github.com/gwtw/py-sorting repository ? I got "[pylint] Unable to import ..." errors for all local files. How I can run tests ? I have added to Workspace Settings:
    "python.unitTest.unittestEnabled": true,
    "python.unitTest.pyTestEnabled": false,
    "python.unitTest.nosetestsEnabled": false
But after run test I got:
    File "c:\Users\Dev\python\py-sortin

[2018-12-02 10:12] matiaso11 commented on #2251
I think that general question is: How to open in Visual Code existing Python/Django project?

[2018-12-02 16:29] matiaso11 opened #2252 "self.log_date.strftime in section "Python/Django Tutorial" chapter "Define models""
In [section "Python/Django Tutorial" chapter "Define models"](https://code.visualstudio.com/docs/python/tutorial-django#_define-models) there is pylint [E1101]:
[pylint] Instance of 'DateTimeField' has no 'strftime'...

Refering to [stackoverflow](https://stackoverflow.com/questions/11909071/using-strftime-on-a-django-datetime-produces-a-utc-time-in-the-string)
"timezone.localtime" function has fi

[2018-12-02 23:00] octref opened #2254 "Write "Working with Extensions / Bundling Extension" topic"
Related: https://github.com/Microsoft/vscode-extension-samples/issues/122

- Create a new topic under `api/working-with-extensions` for https://github.com/Microsoft/vscode-extension-samples/tree/master/webpack-sample
- Explain benefits of bundling
- Together with the sample, illustrate how to bundle extensions using webpack

[2018-12-02 23:56] octref commented on #2165
- [ ] Update links in JSON hovers https://github.com/Microsoft/vscode-docs/issues/2199

[2018-12-03 02:42] octref commented on #2144
- [ ] Fix docs
- [ ] Fix yeoman generator
- [ ] Fix gifs
- [ ] Fix samples

[2018-12-03 16:23] dbaeumer commented on #2191
@octref Thanks!

[2018-12-03 22:09] gregvanl commented on #2234
@octref @kieferrm Thinking about this more, I think we should keep the ContentId GUID in the document header rather than put it in the TOC.json for a couple of reasons:
- We should keep the identifier with the object it identifies, which is the topic.
- It will clutter the TOC.json. The TOC.json should just show the layout of the topics and not their metadata. Right now the TOC.json is very clear

[2018-12-03 22:13] gregvanl commented on #2246
@zhuzhuyule You're welcome. Might be good to add to the tips and tricks topic at https://code.visualstudio.com/docs/getstarted/tips-and-tricks#_go-to-symbol-in-file. Are you interested in submitting a PR?

[2018-12-04 00:33] octref commented on #2234
I tried **very hard** to make it simple for our team member to write `/api` doc without having to remember strange rules:

- Unlike GitHub links, I have to add `.md` to each Markdown link
- I need to add a `DateApproved` to each file although I have no idea what that is for, so I should probably just put the current date
- Now I even need to get a GUID for just writing a new topic

In my initial v

[2018-12-04 00:53] octref commented on #2234
In short, I think it's the complicated process that prevents team members from easily:

- Add a topic
- Break down a large topic
- Rename a topic
- Move topic in TOC

that resulted in the mess in `/docs/extensions` and `/docs/extensionAPI`. The current TOC does not make sense, and in the two years I'm here the only new topic I see is Webview.

[2018-12-04 14:32] changmu811 opened #2255 "Storage. Db is automatically generated"
Storage. Db is automatically generated.
Every time when vscode is running, close the folder and open the folder again, the.db file will be generated in the directory of c disk C:\Users\???\AppData\Roaming\Code\User\workspaceStorage
The effect that does not generate before, thank!!!

[2018-12-05 02:54] Eelman commented on #2213
Hi susanin76,

I'm a complete novice as well and I'm guessing you are following along here (https://code.visualstudio.com/docs/python/python-tutorial)?

I was having the same issue when selecting "Run Python File in Terminal" but it works when I Select All (Ctrl-A) then Run Code (Ctrl-Alt-N) so I guess it's just that this can't be run using that command? Not sure.

I'm on a Windows 7 machine 64-bi

[2018-12-05 15:51] gregvanl commented on #2255
Hi @changmu811 This is related to our migration to SQLLite. You can follow the progress at https://github.com/Microsoft/vscode/issues/64142

[2018-12-05 15:51] #2255 closed

[2018-12-05 18:34] kraigb commented on #2248
@susanin76 I tried you code in my own installation and it worked fine. I expect, then, that it's an issue with your selected environment, which looks like miniconda. Have you tried it with a different interpreter?

In the end, your issues sounds much more like an issue with the extension, rather than the docs (which is what this present repo is for). In that case, can you repost on https://github.

[2018-12-05 18:44] kraigb commented on #2251
Open the project using File > Open Folder on your cloned folder. After that, you can right-click any of the _test files and select **Run Python File in Terminal**. That successfully ran each test file. That should work.

[2018-12-05 18:45] kraigb commented on #2242
Thanks for the report. I'll need to investigate further, but that may not happen until after the holidays.

[2018-12-05 19:01] kraigb commented on #2252
Thanks for that suggestion! I'll admit I hadn't noticed the linter detail, so I'll fix it in the sample and the docs both.

[2018-12-05 19:05] #2252 closed

[2018-12-06 11:04] dbaeumer opened #2263 "Make it more clear that TS server plugins are normal npm dependencies"
Testing: https://github.com/Microsoft/vscode/issues/64279

The sentence currently reads: This plugin will be loaded from the extension and must be listed as a dependency

This should be made clearer that this is a normal npm dependency. Might be confusing the VS Code extensions can depend on other VS Code extensions as well.

[2018-12-07 17:00] fabiospampinato opened #2264 "The theme color reference is a bit of a mess"
I'm maintaining a [theme](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-monokai-night) with the stated goal that it themes every single themeable color. While developing and maintaining it I'm finding a few issues with the whole [color reference](https://code.visualstudio.com/docs/getstarted/theme-color-reference) thing.

### Colors missing from the reference

My theme

[2018-12-09 20:12] usernamehw opened #2260 "Missing documentation on using not equal `!=` operator in keybindings"
[code]

[2018-12-10 22:41] #2263 closed

[2018-12-12 00:46] gregvanl opened #2270 "Tracking issue for /api metadata"
topic metadata | header metadata | issue | comment
--- | --- | --- | ---
DateApproved | ms.date | https://github.com/Microsoft/vscode-docs/issues/2233 | done
ContentId | ms.ContentId | https://github.com/Microsoft/vscode-docs/issues/2234 | goes in topic
MetaDescription | description og.description | https://github.com/Microsoft/vscode-docs/issues/2245 | done
MetaSocialImage | og.image |  | leave a

[2018-12-12 12:03] Haroenv commented on #2121
Hey Greg, could you give it another +1 for me please? Not to sound shilly or whatever, but it would be really nice if the reference could use [DocSearch](https://community.algolia.com/docsearch/), like some other big open source projects.

[2018-12-12 19:40] gregvanl commented on #2121
Hi @Haroenv, I linked to your comment in the website issue.

[2018-12-12 23:12] octref commented on #2236
I don't think we reached an agreement here. Can we move this to December? This does not block shipping.

I would be more worried that we deviate from standard markdown so contributors need to learn weird rules for contributing.

[2018-12-12 23:13] usernamehw opened #2273 "Missing highlighting for html tags"
Example https://code.visualstudio.com/docs/nodejs/vuejs-tutorial#_hello-world

Using similar CSS selector to fix:
[code]

[2018-12-12 23:16] usernamehw opened #2274 "Vue.js tutorial"
https://code.visualstudio.com/docs/nodejs/vuejs-tutorial#_linting

`eslint-plugin-vue` should probably be a link.

[2018-12-12 23:37] usernamehw commented on #2274
`vue-devtools` seems to be able to work in Firefox and as a standalone app.
https://github.com/vuejs/vue-devtools#installation

[2018-12-12 23:54] usernamehw opened #2275 "Should `code` tags have nowrap?"
It's impossible to find all the places where `&nbsp;` is needed. But there's a way to do literally 0 work.

[code]

Before:
![before](https://user-images.githubusercontent.com/9638156/49906029-33514300-fe81-11e8-8b1f-f15ce7f6b7ff.png)

After:
![after](https://user-images.githubusercontent.com/9638156/49906034-39dfba80-fe81-11e8-9290-10c25a195691.png)

Before:
![before](https://user-images.githubus

[2018-12-13 01:16] gregvanl commented on #2190
Should have a look at https://github.com/Microsoft/vscode-docs/issues/613 during the review

[2018-12-14 00:46] octref commented on #2234
Done.

[2018-12-14 00:46] #2234 closed

[2018-12-14 00:46] octref commented on #2270
All done.

[2018-12-14 00:46] #2270 closed

[2018-12-14 16:06] diev opened #2278 "Add common hostnames to whitelist domains"
VS Code 1.30 [additionally](/Microsoft/vscode-docs/blob/master/docs/setup/network.md#common-hostnames) requires to open on the whitelist proxy:

* `https://update.code.visualstudio.com:443/` to check its auto-update;
* `https://go.microsoft.com/fwlink/?LinkID=533483#vscode` to show the Release Notes;
* `https://code.visualstudio.com/updates/v1_30#vscode` to show that forwarded link above.

To use

[2018-12-14 17:47] usernamehw commented on #2275
There could be a scroll on mobile (didn't test) ... but still pretty doable:
[code]

[2018-12-14 21:55] octref commented on #2144
All fixed. I'll update yeoman generator in https://github.com/Microsoft/vscode-generator-code/issues/148.

[2018-12-14 21:55] #2144 closed

[2018-12-17 03:40] Saitamata opened #2283 "opened-file's content overlap with vscode"
### vscode reopen bug?
---

#### vscode version
---
[code]

#### Environment
---

#### Description
---
1. I opened the linux kernel src files with vscode
[code]

2. dev.c's content looks like:
![dev_c_ok](https://user-images.githubusercontent.com/28283931/50065166-fc1bc280-01ef-11e9-89c2-6fe1668f98b9.jpg)

3. ip_gre.c's content looks like:
![ip_gre_ok](https://user-images.githubusercontent.com/282

[2018-12-17 05:12] octref commented on #2165
@mjbvz Please find a suitable redirect address for https://github.com/Microsoft/vscode/blob/f90f0a9e138b809081c45a93eb4e881078b0937f/src/vs/workbench/api/node/extHostApiCommands.ts#L226, and replace it in VS Code source.

[2018-12-17 14:53] kraigb commented on #2248
Closing this issue as it's a product bug rather than docs, and should be filed on https://github.com/microsoft/vscode-python/issues.

[2018-12-17 14:53] #2248 closed

[2018-12-17 15:52] #2251 closed

[2018-12-17 15:53] #2213 closed

[2018-12-17 18:56] octref commented on #2243
This is implemented, and redirects are available.

https://vscode-ext-docs.azurewebsites.net/docs/extensions/example-tasks#_task-definition

[2018-12-17 18:56] #2243 closed

[2018-12-17 19:38] octref commented on #1439
Included a section on this topic at https://vscode-ext-docs.azurewebsites.net/api/working-with-extensions/publishing-extension#packaging-extensions.

![image](https://user-images.githubusercontent.com/4033249/50110898-3ab17d00-01f0-11e9-87e7-93a2f8b36d4d.png)

Only references to `.vscode/extensions` is the Color Theme topic. I'll fix it as part of https://github.com/Microsoft/vscode-docs/issues/22

[2018-12-17 19:38] #1439 closed

[2018-12-17 19:41] octref commented on #452
You have fixed the issue yourself in the updated [Debugger Extension](https://vscode-ext-docs.azurewebsites.net/api/extension-guides/debugger-extension) topic 😉

[2018-12-17 19:41] #452 closed

[2018-12-17 23:53] gregvanl commented on #1408
Closing as the tutorial has been rewritten by @octref

[2018-12-17 23:53] #1408 closed

[2018-12-18 19:32] octref commented on #2195
For what it's worth, "Programmatic Language Features" is cut down to 732 characters.

[2018-12-18 22:42] weinand commented on #2195
Which happens to be the year of the Battle of Tours! ;-)

[2018-12-18 23:51] brettcannon opened #2285 "Document how to work around wanting to use Black on Python 2"
https://code.visualstudio.com/docs/python/editing#_formatting should probably grow some docs on how to deal with the fact that Black only works on Python 3, e.g. you can set `"python.formatting.blackPath"` for a separate install if your environment is Python 2.

Microsoft/vscode-python#3444

[2018-12-20 23:41] #2278 closed

[2018-12-20 23:48] octref commented on #2275
Need to think through it, but in this case I prefer wrapping though:

![image](https://user-images.githubusercontent.com/4033249/50317109-c2a4ba80-046e-11e9-8731-b69b2f1b418d.png)

[2018-12-20 23:56] #2260 closed

[2018-12-21 00:17] #2203 closed

[2018-12-21 00:47] octref commented on #2209
This has become obsolete.

[2018-12-21 00:47] #2209 closed

[2018-12-21 00:49] octref commented on #1441
No longer relevant for the new API doc.

[2018-12-21 00:49] #1441 closed

[2018-12-21 01:15] #2240 closed

[2018-12-21 01:15] octref commented on #2240
It's possible to specify a launch.json for color themes, and it's much easier to test it that way. I've fixed the color theme guide.

Meanwhile the `.vscode/extensions` content is still useful. Now it's at publishing extensions topic right after "Packaging Extensions".

[2018-12-23 17:29] gregvanl opened #2293 "Many broken links on Extensions Guides overview page"
For example:

The Sample column links don't look like they are meant to be links and 404.
There is no Status Bar guide to link to.
The https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs#language-client--language-server link creates a new wiki page.

[2018-12-23 17:33] gregvanl commented on #2244
The /api topics need a full pass on links. See https://github.com/Microsoft/vscode-docs/issues/2293.
Doesn't look like this testing was covered with https://github.com/Microsoft/vscode-docs/issues/2165

[2018-12-24 17:50] octref commented on #2293
These are all auto-generated. They are fixed now.

[2018-12-24 17:50] #2293 closed

[2018-12-25 09:51] yanghuimartin opened #2295 "how to set "editor.fontWeight""
![image](https://user-images.githubusercontent.com/28330964/50419779-91acf700-086d-11e9-98f2-00029c0fc0c6.png)
nothing changed

[2018-12-25 22:35] usernamehw commented on #1288
Context keys probably can be found too:
Making a global search in vscode repo <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> for `new RawContextKey`

**192 results in 58 files**
[code]

[2018-12-28 15:50] thernstig opened #2299 "Python editing: Sort Imports"
https://code.visualstudio.com/docs/python/editing#_sort-imports says:

The link [sort on save](https://code.visualstudio.com/docs/python/editing#_sort-imports-on-save) leads nowhere.

[2018-12-28 17:33] pranavmanivannan opened #2300 "Python Help Please"
So every time I try entering **python -m pip install mathplotlib**
all the terminal says is
**Could not find a version that satisfies the requirement mathplotlib (from versions: )
No matching distribution found for mathplotlib**.
Could someone please help me figure out why it says that?

[2018-12-28 17:37] #2300 closed

[2018-12-29 00:03] Canuto2 opened #2301 "Using shelve"
I am trying to set up a game and I am trying to save the points with the name of the user.
This is how I am trying to do it:

import shelve
s=shelve.open("data")
s["User1"] = int(10)
s["User2"] = int(15)
s["User3"] = int(20)
s.close()

But when I try to run it, it shows this:

BDB0004 fop_read_meta: data.db: unexpected file type or format
Traceback (most recent call last):
   File "p5.py", line 3,

[2018-12-31 15:23] c-yco opened #2303 "Python - Django tutorial runserver config single threaded causes loop with chrome"
The debug profile here: [https://github.com/Microsoft/vscode-docs/blob/master/docs/python/tutorial-django.md](url)

can be problematic together with chrome:
https://code.djangoproject.com/ticket/16099
https://code.google.com/p/chromium-os/issues/detail?id=13043

Chrome creates two request when trying to connect, which hangs the testserver in a loop in single threaded mode.

removing "--nothreading

[2019-01-01 05:32] tuttieee commented on #2244
Hello,

The link below

in https://code.visualstudio.com/api/get-started/wrapping-up ( https://github.com/Microsoft/vscode-docs/blob/master/api/get-started/wrapping-up.md ) goes nowhere.

I think this should point to /api/working-with-extensions/testing-extension, not /api/working-with-extensions/testing-extension**s**

[2019-01-01 08:17] octref commented on #2244
@tuttieee Fixed, thanks!

[2019-01-03 07:57] DanTup commented on #2254
Please also include a section for tests (both running from VS Code via launch.json and if much different, running from the command line for CIs), as I was unable to get tests working when I updated my npm scripts to use webpack (see https://github.com/Microsoft/vscode-extension-samples/issues/110#issuecomment-438589848).

[2019-01-03 08:18] fangaofeng opened #2307 "django can not debug .py file in the site-package"
launch.json:
[code]

vs code ：

Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17134

for example：

[code]
workspace setting.json
[code]
When i set break point at start_time ，it can stop here but not setp into DateTiemField withing '
F11 ' or 's

[2019-01-03 16:34] kraigb commented on #2307
@fangaofeng Thanks for your report. Because this is a functional issue with Python in VS Code, and not a documentation issue as handled by this repo, please check if it's already reported at https://github.com/Microsoft/vscode-python/issues, and if not, re-file the issue there. In the meantime I'm closing the issue here in the docs repo.

[2019-01-03 16:34] #2307 closed

[2019-01-03 18:11] kraigb commented on #2303
Thanks @c-yco. I'll add a note with that warning.

[2019-01-03 18:16] kraigb commented on #2299
@thernstig Thanks, that's an obsolete reference to a section that I removed a month ago. Thanks for pointing it out!

[2019-01-03 18:26] #2303 closed, assigned to kraigb

[2019-01-04 05:10] akbyrd opened #2312 "Dead links"
"Language Features" is a dead link in a couple of places on this page: https://github.com/Microsoft/vscode-docs/blob/master/api/language-extensions/overview.md

[2019-01-04 07:44] chrisjsewell opened #2314 "Extension tests not found on Azure Pipeline"
I have an extension, initially created using the standard `yo code` template, and successfully uploaded to the market place. I have created a test suite, which works correctly when running locally (i.e. pressing F5), and I now wanted to add CI testing to the [Github repo](https://github.com/chrisjsewell/vscode-moose).

I followed the instructions on [Continuous Integration](https://code.visualstud

[2019-01-04 07:44] bpasero commented on #2314
@willsmythe fyi

[2019-01-04 13:35] fabiospampinato commented on #2264
@aeschli This looks pretty weird to me, is the schema non able to handle this use case properly? It doesn't make sense to explicitly pass a red, green and blue components for the opacity.

[2019-01-04 16:06] misolori opened #2315 "Document changes to Octicons"
Once the new version of Octicons is merged into master (https://github.com/Microsoft/vscode/pull/65989) we're going to need proper documentation of these changes in the release notes.

We should also try to address #1094 and provide proper documentation for Octicons in our extensible docs. @octref, do you have any ideas of where this should be placed in our docs?

[2019-01-04 16:56] gregvanl commented on #2314
Hi @chrisjsewell, sounds like you are unblocked but I'm not sure this is a documentation issue. Is the request that the yo code generated tests be modified to output missing dependency errors?

[2019-01-04 18:16] #2312 closed

[2019-01-04 18:16] octref commented on #2312
Thanks, that link was renamed to Programmatic Language Features.

[2019-01-04 18:37] misolori commented on #2315
As far as I know it's only the Status Bar and Quick Pick (see GitLens > Show Commit Details). @bpasero, can you confirm?

[2019-01-04 18:43] octref commented on #2315
Reminder: need to reference to it in https://github.com/Microsoft/vscode-extension-samples/tree/master/quickinput-sample too, then.

[2019-01-04 19:10] gregvanl commented on #2244
Closing as community is finding broken links and either entering issues or PRs.

[2019-01-04 19:10] #2244 closed

[2019-01-04 19:54] octref commented on #2199
Shipped.

[2019-01-04 19:54] #2199 closed

[2019-01-04 19:55] octref commented on #2165
Shipped.

[2019-01-04 19:55] #2165 closed

[2019-01-05 01:40] brandonkoch6 commented on #2314
I have encountered this as well.  The azure-pipelines.yml that is given in the example of the CI doesn't actually pick up the tests and run them as part of the pipeline.  The test script works locally but when run on Azure DevOps, it never runs the tests.  I'm not sure I understand how @chrisjsewell worked around it, but the documentation definitely needs to change.

[2019-01-05 05:06] chrisjsewell commented on #2314
@gregvanl So I would suggest that the core VS Code test executable should not return a passing (i.e. 0) exit code, if the tests fail to run.

For example, in [this build](https://dev.azure.com/chrisjsewell/vscode/_build/results?buildId=23), the `macOS Job` runs the tests as:

    /Users/vsts/agent/2.144.0/work/1/s/.vscode-test/stable/Visual Studio Code.app/Contents/MacOS/Electron /Users/vsts/agent

[2019-01-05 07:16] bpasero commented on #2315
@misolori I think octicons can also be used in hovers, I believe the GitLens extension (@eamodio) is doing that. He might also know more locations from his usage.

[2019-01-05 07:32] bpasero commented on #2315
Ah ok 👍

[2019-01-05 23:32] jtjones0304 opened #2317 "Error installing Python package matplotlib"
When installing matplot lib using the command: python -m pip install matplotlib in the terminal, an exception is thrown after this line in the terminal window:
Installing collected packages: six, python-dateutil, kiwisolver, pyparsing, cycler, numpy, matplotlib

The exceptions are:
Exception:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_

[2019-01-06 00:21] jtjones0304 commented on #2317
I think the issue is not installing packages as admin.  When I run as an admin the package installs fine.

[2019-01-06 00:21] #2317 closed

[2019-01-06 08:37] SCBuergel opened #2318 "Python tutorial: plot closes right after script ended"
The plot window in the tutorial closes immediately after the script is done running. This is probably expected but very different from what is described there, this should be at least mentioned. When I instead single-step through the code, I can see the plot for that step.

- VSCode Version: Version 1.30.1 (1.30.1)
- OS Version: macOS 10.14.2

Steps to Reproduce:

1. Follow your [python tutorial](

[2019-01-07 13:58] willsmythe commented on #2314
@gregvanl - let me know if you need any support from the Azure Pipelines team on this. It does sound like either the behavior of the test runner needs to change (e.g. return the appropriate non-zero exit code so the pipeline fails), or the sample Pipelines YAML file needs to be updated to run the tests differently.

[2019-01-07 16:53] aeschli commented on #2264
@mjbvz added this, but IMO it's a pragmatic solution that avoids adding another data type to theme descriptions (now they are all a set of colors).

[2019-01-07 16:56] fabiospampinato commented on #2264
Why would anyone want that though? The point of types is to help catch errors and help the person who's using them. The fact that we are expecting a color for the opacity doesn't make sense and made me (and probably other people who attempted to customize that too) waste time on this.

[2019-01-07 18:20] gregvanl opened #2322 "Review and update PHP topic"
The languages/php topic gets a moderate number of pageviews (ranked 30) but has a higher than expected number of rating and comments indicating an engaged community.
Review the topic and doc feedback verbatim and update the topic.
- mention that need to install PHP (not included in VS Code install)
- address https://github.com/Microsoft/vscode-docs/issues/2365

[2019-01-07 18:23] gregvanl opened #2323 "Git tutorial"
doc feedback verbatim indicates that new users would like a full tutorial showing how to setup Git in VS Code.
This would be in addition to the current Version Control topic.

[2019-01-08 08:32] joaomoreno commented on #2314
@bpasero Please check @chrisjsewell's comments on our test runner script: https://github.com/Microsoft/vscode-docs/issues/2314#issuecomment-451628542

[2019-01-08 08:48] bpasero commented on #2314
We do propagate the exit code of the mocha test to electrons exit function, but maybe that got broken with some Electron update.

[2019-01-08 08:50] bpasero commented on #2314
Here: https://github.com/Microsoft/vscode/blob/f599942a5f1ce23445eb1dd7e0ff799ab7a0a175/src/vs/workbench/api/node/extHostExtensionService.ts#L599

[2019-01-08 08:51] chrisjsewell commented on #2314
Hey @joaomoreno a) I directly copy/pasted the script from [Continuous Intergration](https://code.visualstudio.com/api/working-with-extensions/continuous-integration) and b) I think your missing the point of what I said; it's not that tests won't fail, it's that the entire test suite will not run if there is an import failure during the tests.

For example, in your (failing) test file (`<name>.test

[2019-01-08 11:34] xiaoqianghaochi opened #2325 "global search: backreferences are not supported"
global search: backreferences are not supported；
eg:  (\w.+):\ \1

[2019-01-08 14:52] joaomoreno commented on #2314
Makes sense. Leaving it to @bpasero for investigation.

[2019-01-08 15:14] bpasero commented on #2314
This is NOT a problem with the exit code as you can easily see in this case where I run "`npm run test`" on an extension where I caused a test failure:

![image](https://user-images.githubusercontent.com/900690/50839356-65f73a00-1360-11e9-808c-037ba8e42004.png)

[2019-01-08 15:46] chrisjsewell commented on #2314
Hey @bpasero please read my comments above. This is only an issue with tests failing because of import errors (i.e. missing dependencies in the `package.json`), not general assertion failures.

With vs code executable:

[code]

and directly with Mocha:

[code]

[2019-01-09 15:14] stefanfritsch opened #2328 "CLI parameters not working on Windows"
# The Problem

If I enter

[code]

or any other command line parameter on Windows the editor window pops up and the parameter has no effect

# What I expected to happen

According to [the docs](https://code.visualstudio.com/docs/editor/command-line) `code --version` prints the version string. Plus there are dozens of useful parameters.

# What I assume is the issue

Entering code in a shell refere

[2019-01-10 18:07] usernamehw opened #2330 "Built-in commands page is unhelpful"
https://code.visualstudio.com/api/references/commands

Are all commands that exist on this page can be invoked without extensions (simply from keybindings.json)?

Is this file even for extensions or keybindings?

I was trying to open file from keybindings and spent a lot of time on it (or at least it feels that way)... I still don't know how to make `vscode.open` to work and instead using `vscode.

[2019-01-11 05:20] gregvanl commented on #2328
Hi @stefanfritsch The --version command line switch is working for me.

![image](https://user-images.githubusercontent.com/12818376/51014567-6b4db380-151d-11e9-91c1-444da35888c0.png)

This doesn't seem like a VS Code documentation issue but if you have a consistent repro, you can enter an issue in the VS Code product repository https://github.com/Microsoft/vscode

[2019-01-11 05:20] #2328 closed

[2019-01-13 01:30] usernamehw opened #2337 "TOC is not clickable"
https://code.visualstudio.com/api/language-extensions/language-configuration-guide

[2019-01-14 02:34] octref commented on #2337
Both side are clickable for me. Do you mean the second-to-last "Word Pattern"? That's because when you click it it scrolls to the bottom so it goes to "Indentation Rules".

[2019-01-14 02:34] #2337 closed

[2019-01-14 23:46] kraigb commented on #2318
@SCBuergel Can you try changing the last line of the code to `plt.show(block=True)`? https://stackoverflow.com/questions/40061044/keep-pandas-matplotlib-plot-open-after-code-completes suggests that should do the trick. (It's a Mac-specific behavior, it seems.)

Let me know if that works and I'll update the docs accordingly.

[2019-01-15 09:16] sureshirajapakse opened #2341 "do not display the text in terminal"
yesterday i installed VS Code latest version to do Python.I did some basics by creating a folder.But when I today tried to print "hi" it was not displayed in terminal.

C:\Users\name-PC\Documents\hello>app.py

though I gave my folder name app.py and pressed shift+enter nothing showed.plz can someone help?

[2019-01-15 14:01] SCBuergel commented on #2318
In the meantime I did the update to VS 1.30.2 and the issue seems to be resolved. The plot remains open upon completion of the script without any changes to the code that is given in your [tutorial](https://code.visualstudio.com/docs/python/python-tutorial#_install-and-use-packages). I have to admit this is a bit of a mystery to me. I did not try again on a clean installation though.

[2019-01-15 15:50] tetchel commented on #2225
They actually are displayed if you open an Extension README in the editor, although this doesn't play nicely with using `package.nls.json`!

![image](https://user-images.githubusercontent.com/8888438/51191899-638e6600-18b3-11e9-83ee-e9a5d9f96b98.png)

[2019-01-15 17:28] #2318 closed, assigned to kraigb, gregvanl

[2019-01-15 18:59] kraigb commented on #2341
Thanks for the report, @sureshirajapakse. It looks like this is a known issue, which I reproduced: see https://github.com/Microsoft/vscode-python/issues/3397. The Shift+Enter keyboard mapping is shared between two different commands, and the one for Jupyter code cells seems to be getting picked up first.

So like the issue suggests, go to File > Keyboard Shortcuts, search for "Shift+Enter", then c

[2019-01-15 18:59] #2341 closed

[2019-01-15 21:51] brettcannon opened #2342 "Document that "debugStdlib" is needed to debug 3rd-party code for Python"
https://code.visualstudio.com/docs/python/debugging#_debugoptions doesn't mention that `"debugStdlib"` is what it takes to step into 3rd-party code.

/cc @Microsoft/pyvsc  as I'm going to be offline starting tomorrow.

[2019-01-15 23:00] mjbvz commented on #2190
**Ideas**

- Make the js/ts languages section just have the value prop @mjbvz
- Move eslint to linter topic @gregvanl
- JS topics will go under node/javascript (working with js) @mjbvz
    - Intellisense and ata
    - jsconfig
    - Type checking?
    - tasks?
    - Common questions

- TS will get new TS TOC node
     - Getting started (tutorial)  @gregvanl
     - configuration / settings (tsconfi

[2019-01-15 23:52] gregvanl commented on #763
Closing as all API topics have been reviewed and refactored.

[2019-01-15 23:52] #763 closed

[2019-01-15 23:55] gregvanl commented on #519
Reopening as creating a new Linter topic (covering ESLint) as part of the JS/TS topic refactoring

[2019-01-16 02:52] DonJayamanne commented on #2342
Closing as this should not be documented, it's available for a backwards compatibility.
The work in the extension had not yet been finished
https://github.com/Microsoft/vscode-python/issues/2087

[2019-01-16 17:56] kraigb commented on #2342
Per @DonJayamanne

Closing as this should not be documented, it's available for a backwards compatibility.
The work in the extension had not yet been finished

Microsoft/vscode-python#2087

[2019-01-16 17:58] qubitron commented on #2342
@DonJayamanne @kraigb we need to document how to do this, Don, please add a "justMyCode" setting that is equivalent to debugStdLib if you are hesitant to change the documentation

[2019-01-17 14:15] vvavrychuk opened #2344 "runOptions is not give in schema for task.json"
Seems there is runOptions property https://code.visualstudio.com/docs/editor/tasks#_run-behavior. But somehow it has not managed to get into https://github.com/Microsoft/vscode-docs/blob/master/docs/editor/tasks-appendix.md

[2019-01-17 19:47] d3r3kk opened #2345 "Online documentation error in https://code.visualstudio.com/docs/python/environments#_choose-a-debugging-environment"
@jcrmatos commented on [Sun Dec 23 2018](https://github.com/Microsoft/vscode-python/issues/3789)

The online documentation at
`https://code.visualstudio.com/docs/python/environments#_choose-a-debugging-environment`
states
`Note: The python:pythonPath setting doesn't affect debugging. See Choose a debugging environment.
`and then below it states
`The python.pythonPath setting specifies the Python i

[2019-01-17 19:48] d3r3kk commented on #2345
@kraigb could you have a look?

[2019-01-17 22:19] kraigb commented on #2345
@d3r3kk Right you are...the first statement is in error (it once was true, but that changed some time ago). I'll correct it.

[2019-01-17 22:23] #2345 closed

[2019-01-18 00:21] gregvanl commented on #2325
Hi @xiaoqianghaochi Yes, this is true that backreferences are not supported by default but you can try the search.usePCRE2 setting to use the PCRE2 regex engine.

https://code.visualstudio.com/updates/v1_29#_backreferences-and-lookahead-in-search

[2019-01-18 22:08] DonJayamanne commented on #2342
@kraigb 	Lets go with the updates to the documentation for now.
When #2087, we can update the docs accordingly.

[2019-01-20 23:08] gregvanl commented on #2344
Fixed with https://github.com/Microsoft/vscode-docs/pull/2353

[2019-01-20 23:08] #2344 closed

[2019-01-21 15:44] kraigb commented on #2242
@harsh-shrimal I'm closing this issue due to lack of activity. Offhand, it seems more of an issue with container construction than deployment to App Service. But feel free to reopen if you have more information.

[2019-01-21 15:44] #2242 closed

[2019-01-21 18:35] kraigb commented on #2237
@brettcannon @DonJayamanne Please review https://github.com/Microsoft/vscode-docs/blob/python-debug-api/docs/python/debugging.md#api-to-access-the-debugger-from-other-extensions for accuracy. I'm not sure if there are more details needed for the namespace of the API, for example.

I'm checking to see if the python-debug-api branch can get staged up to verify the rendering of the API formatting.

[2019-01-21 20:18] usernamehw commented on #2330
Great 👍

[2019-01-21 20:18] #2330 closed

[2019-01-22 16:33] pcgeek86 opened #2356 "IEventEmitter and EventEmitter"
There's an old GitHub thread from 2017 that talks about 'old' and 'new' event handler solutions. `EventEmitter` and `IEventEmitter`.

However, I can't find any documentation that describes how to use either of these.

https://github.com/Microsoft/vscode/issues/38417

[2019-01-23 06:58] joaomoreno commented on #2356
These are internal VS Code classes, not API.

[2019-01-23 06:58] #2356 closed

[2019-01-23 16:22] gregvanl commented on #444
Extensions and Extensibility Reference TOC nodes were removed during the API refactoring, which was heavily reviewed for TOC layout.

[2019-01-23 16:22] #444 closed

[2019-01-23 16:25] gregvanl commented on #720
There is now a dedicated Extension Guide for Commands https://code.visualstudio.com/api/extension-guides/command.

[2019-01-23 16:25] #720 closed

[2019-01-23 19:41] bpruitt-goddard opened #2359 "Document Errors In Language Extensions Highlighting Guide"
The section on [using YAML to write a grammar](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#using-yaml-to-write-a-grammar) goes against the YAML spec in 2 crucial ways.

1. A multiline string will either be separated with a newline or a space, depending on the [block scalar](https://yaml.org/spec/1.2/spec.html#id2795688). In the example screenshot, this is separated

[2019-01-24 00:53] kraigb commented on #2237
@brettcannon @DonJayamanne Any comments on the API docs here?

[2019-01-24 05:20] DonJayamanne commented on #2237
Will get back to you tomorrow

[2019-01-25 06:04] DonJayamanne commented on #2237
Can we put this on hold for now.
Personally I don't see any value in documenting this.
There's more that'll need to be documented for anyone to be able to use this.
Also there are a few changes that'll have to be made.

[2019-01-26 02:43] kraigb commented on #2237
Sure, these changes are just in a branch, so they can live there for however long.

[2019-01-26 02:50] DonJayamanne commented on #2237
Tracking here https://github.com/Microsoft/vscode-python/issues/4155

[2019-01-26 04:02] stanley0xffff opened #2364 "Peek Definition jump to last definition"
When peek definition of "c_5" on line 10, the result should be shown the definition "cursor c_5 is" on line 2, but actually, the result of peek definition is jumped to "cursor c_8 is", not the proper one.

![image](https://user-images.githubusercontent.com/35367122/51782302-23f03580-2161-11e9-8771-73c608014411.png)

[code]

[code]

[code]

[2019-01-26 05:43] DonJayamanne commented on #2237
Created an issue upstream, as that's something we monitor

[2019-01-26 11:30] noommii opened #2365 "php.validate.executablePath"
**"php.validate.executablePath": "c:/php/php.exe"**

Not working, show following message:

**Cannot validate since c:/php/php.exe is not a valid php executable. Use the setting 'php.validate.executablePath' to configure the PHP executable.**

[2019-01-26 14:41] Cmumbi opened #2366 "[pylint] Unable to import 'flask' [E0401]"
Even after installing flask, I still get the above error.
Kindly assist.
![image](https://user-images.githubusercontent.com/25196422/51788645-8b25de00-2191-11e9-93a0-90c96bcce0e8.png)

[2019-01-28 17:12] kraigb commented on #2366
@Cmumbi How are you attempting to run your code? From the graphic here, I'm unsure whether you've installed Flask into the global Python 3.7 environment (indicated by the path), or a virtual environment (indicated by the "(env)" at the prompt). Either way, running the code successfully needs that same environment activated. If you're running the program within VS Code, then that same environment n

[2019-01-28 18:39] Cmumbi commented on #2366
I realized I wasn't installing it in the same environment and I've fixed
that.
Thank you.

*Kind regards,*
*Cynthia Muiga - **Web Developer*

On Mon, Jan 28, 2019 at 8:12 PM Kraig Brockschmidt <notifications@github.com>
wrote:

[2019-01-28 18:46] kraigb commented on #2366
Yep, that would do it! One of the bits of Python that you get used to after a while. :)

[2019-01-28 18:46] #2366 closed

[2019-01-29 23:17] usernamehw commented on #2275
Maybe it can be pre-parsed and assign class `.nowrap` to `<code>` less than ~20-30 characters?

[2019-01-29 23:42] octref commented on #2275
I think I can do `p > code`.

[2019-01-30 07:44] JeffreyCA opened #2370 "Anchor link broken on site but works when viewing .md on GitHub"
On [this page](https://code.visualstudio.com/api/references/contribution-points#contributes.views), the link for **Custom view containers** does not work but if you view the Markdown on GitHub [here](https://github.com/Microsoft/vscode-docs/blob/master/api/references/contribution-points.md#contributesviews), it works.

[2019-01-30 12:10] muckisg commented on #1783
@kimfucious Working in powershell the export of enviroment varaiables seems to be a bit different (sorry, no general windows user):
`$Env:FLASK_APP=webapp`
Control the entry with
`Get-ChildItem Env:FLASK_APP`

[2019-01-30 12:30] muckisg opened #2371 "Python Flask Tutorial"
Hi,

the follwoing code does not work, there is a 404 if no name is given via url.
Tutorial: https://code.visualstudio.com/docs/python/tutorial-flask#_use-a-template-to-render-a-page
Step 5

_templates/hello_there.html_
[code]
Any hints?

Thx,

Maurice

[2019-01-30 15:08] SarcasticWatermelon opened #2372 "Installing matplotlib in VS code tutorial"
I was following a tutorial (https://code.visualstudio.com/docs/python/python-tutorial), and to complete it, I needed to install and run the process:
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(0, 20, 100)  # Create a list of evenly-spaced numbers over the range
plt.plot(x, np.sin(x))       # Plot the sine of each x point
plt.show()                   # Display the plot
The t

[2019-01-30 15:58] #2370 closed

[2019-01-30 16:00] gregvanl commented on #2370
Note, the /API doc relative links will not work on GitHub, they only resolve on the actual website. See https://github.com/Microsoft/vscode-docs/issues/2236

[2019-01-30 16:51] gregvanl commented on #613
We've refactored the TypeScript topic into:
languages/typescript - value proposition overview for using TypeScript in VS Code (Matt has some TODO left)

typescript/typescript-tutorial - hello world example
typescript/typescript-compiling - shows tasks and compiler information
typescript/typescript-debugging - shows Node.js and client-side debugging

[2019-01-30 16:51] #613 closed

[2019-01-31 18:56] lgonzalezsa opened #2376 "Visual Studio Code using remote JupyterHub notebook"
Looking at this article: [Visual Studio Working with remote Jupyter Notebook,](https://code.visualstudio.com/docs/python/jupyter-support#_connect-to-a-remote-jupyter-server) wondering and trying with JupyterHub API but was not able to make a connection from Visual Studio Code.

It is possible to open a remote session in a JupyterHub server? seems to me a nice feature to have.

[Related question](h

[2019-01-31 20:16] kraigb commented on #2376
@lgonzalezsa Thanks for the issue. I think it's best answered through the issues on the repo for the Python extension directly: https://github.com/Microsoft/vscode-python/issues/. Your particular question might already be covered by https://github.com/Microsoft/vscode-python/issues/3954, but again, best to clarify with the engineering team there. Do reference this docs issue, though, and report ba

[2019-01-31 20:16] #2376 closed

[2019-02-01 10:09] muckisg commented on #2372
Hi @SarcasticWatermelon,

do you get the same result by just going to the console an use:
'''
pip install matpltlib
'''
Be sure you have the right version of pip installed (if you have different python versions (2 & 3) installed.

Hope it helps,

Maurice

[2019-02-01 14:43] SarcasticWatermelon commented on #2372
I think it is an error on my part. I am working on this on a school computer, so therefore it will not allow me to install things. I will try this on my home computer to see if this works and get back to you with any further issues in the future. Thanks for your help, though!

[2019-02-01 14:43] #2372 closed

[2019-02-01 15:17] kraigb commented on #2372
Yes, if you don't have admin privs on a computer, then sudo elevation won't work. In that case you need to use a virtual environment instead, in which you can install anything. I'll make a note about that in the documentation.

[2019-02-02 23:00] gregvanl commented on #2190
This work has been done in the vnext branch and will go live at the 1.31 release

[2019-02-02 23:00] #2190 closed

[2019-02-04 07:27] gjsjohnmurray opened #2862 "Clash between two extensions using same language alias"
Version: 1.30.2 (user setup)
OS: Windows_NT x64 10.0.16299

(also present in 1.31.0-insider)

I am developing a language extension (not yet published in Marketplace). It contributes three language IDs:
![image](https://user-images.githubusercontent.com/6726799/52194303-2af70200-284b-11e9-94e2-d64a34df061b.png)

I have also installed a Marketplace extension intended for the same language, which con

[2019-02-06 15:13] gregvanl commented on #2315
https://code.visualstudio.com/api/references/icons-in-labels

[2019-02-06 15:13] #2315 closed

[2019-02-07 14:58] davidecon123 opened #2386 "Failure to run debug in setting up Python at VS vode"
a new set up following the instructions under : https://code.visualstudio.com/docs/python/python-tutorial
when I reach the step for testing the debug, my case failed to show up a " yellow arrow" when the debug ran. May I know which part I shall correct my setting?

[2019-02-07 17:10] kraigb commented on #2386
Hi @davidecon123. The yellow arrow shows the next line to be executed. It appears either on a breakpoint (in which case the red dot is above it), on the first line if you have "stopOnEntry": true in the debug configuration, or on any other line as you use the stepping tools.

Can you be more specific about the steps you've taken, and what you're expecting to see? I'm assuming you got to the point

[2019-02-07 19:47] kraigb commented on #2371
@muckisg Thanks for the report, and sorry for the belated response (I've been away for a few days). The correction is actually in the routing to the view in views.py. Change:

@app.route("/hello")

to

@app.route("/hello/")

and the app should work for /hello, /hello/, and /hello/<name>.

I'll correct this in the docs and the associated sample.

[2019-02-07 19:55] #2371 closed

[2019-02-07 20:12] gregvanl commented on #2365
Hi @noommii Where is php.exe installed on your machine?

[2019-02-07 20:57] mjbvz commented on #2359
We are using extended regular expressions here (marked by the `(?x)`). This means that \#comments are supported and whitespace is generally ignored. You can also write these same extended regular expression in json but there isn't much point since it all has to be on the same line anyways

Please submit a docs PR if you feel this could be made more clear

[2019-02-07 20:57] #2359 closed

[2019-02-08 01:07] ericsnowcurrently opened #2389 "Update Python extension docs to explain how .env files support variable substitution"
With https://github.com/Microsoft/vscode-python/pull/4267 the Python extension now supports variable substitution in `.env' files.  The [docs for "Environment variable definitions file"](https://code.visualstudio.com/docs/python/environments#_environment-variable-definitions-file) should indicate this.

Relevant details:
* substitution uses a similar syntax to what is used by shells (`<VARNAME>=..

[2019-02-08 12:35] dbaeumer opened #2391 "Please review https://github.com/Microsoft/vscode-docs/blob/dbaeumer/lsif/blogs/2019/02/lsif.md"
Hi Greg,

can you please review the above blog post. You can directly edit the md and push. I am out on vacation next week.

Thanks Dirk

[2019-02-08 13:48] davidecon123 commented on #2386
![debug](https://user-images.githubusercontent.com/47423678/52481803-82e68d80-2bea-11e9-9fd4-20ea8ce59e36.jpg)

![launch json](https://user-images.githubusercontent.com/47423678/52481903-c6d99280-2bea-11e9-998c-2c6e65635d5d.jpg)

Sorry, I am new to programming, so I wasn;t specify enough in my query.

I am on the step of running the debug by pressing F5. But, it doesnt show the "Local variables" a

[2019-02-08 16:18] kraigb commented on #2386
Yes, it looks like the debugger is hung up or not responding, given that nothing appears in the debug explorer, and neither does the program run and give output.

Let's try a few other variations to run the program in different ways. Let me know which of these work or don't:

1. Right-click in the editor and select "Run Python File in Terminal". This should display "Hello World" in the output wind

[2019-02-08 16:19] kraigb commented on #2386
You can also try closing VS Code, then deleting the .vscode folder from your project directory, restarting VS Code, opening that directory, then recreating the debug configurations file (launch.json).

[2019-02-09 02:46] geekgamer2001 opened #2392 "cant install package PYTHON"
\hello\hello>python -m pip install matplotlib
'python' is not recognized as an internal or external command,
operable program or batch file.

[2019-02-09 02:48] #2392 closed

[2019-02-09 02:53] geekgamer2001 opened #2393 "Cant install packages in python"
uhhh help

[2019-02-09 23:11] geekgamer2001 commented on #2393
am i doing this wrong? I do not think i am following the python tutorial this is my first time using python in VS i used c++ and liked VS so i decided to try python on it

[2019-02-09 23:41] geekgamer2001 commented on #2393
here is my code and all
![capture](https://user-images.githubusercontent.com/31589660/52527650-4d00e200-2c9a-11e9-9757-e9968be696a1.PNG)

[2019-02-10 07:00] davidecon123 commented on #2386
Thanks! Kraigb! After deleting the .vscode folder in the project directory.

I try again by not adding a "stopOnEntry": true setting to the "Python: Current File" configuration in launch.json. And, the debugging process is fine. And, the debugger stops at the breakpoint (the line with red dot on the left).

kinda interesting.....

[2019-02-10 14:39] kraigb commented on #2386
Great! So deleting the .VSCode folder worked, correct? I did suspect that there was some errant setting that was causing problems. Were you able to get stopOnEntry to work correctly?

By the way, do you still have the launch.json and settings.json files in your recycle bin? If so,

[2019-02-10 18:13] geekgamer2001 commented on #2386
I did the same thing and it did not work it got rid of launch.json and after I remade as according to in the tutorial and set "stopOnEntry": true i got the same issue but when I set it to false the whole debugger runs but doesn't run one bit when it is on...... odd

[2019-02-10 18:35] kraigb commented on #2386
After VS Code just updated to 1.31.1, I found the same behavior: with "stopOnEntry" : true the debugger hangs. Definitely a bug in the extension, then, and it seems like https://github.com/Microsoft/vscode-python/issues/4223 covers it. I'm closing this doc issue, then.

[2019-02-10 18:35] #2386 closed

[2019-02-10 21:19] geekgamer2001 opened #2401 "can not install matplotlib in python"
![capture](https://user-images.githubusercontent.com/31589660/52539739-9e1edd80-2d4f-11e9-8e9c-b0c7245df27b.PNG)

[2019-02-10 22:06] #2393 closed

[2019-02-11 00:03] geekgamer2001 commented on #2401
i did not make path

[2019-02-11 00:03] #2401 closed

[2019-02-12 10:06] aeschli opened #2402 "Document the screen reader mode"
The accessibility section should mention the screen reader mode and that some features (e.g. folding) are not available in it.

![image](https://user-images.githubusercontent.com/6461412/52627670-3931c780-2eb6-11e9-9944-b4f8c1738853.png)

[2019-02-12 10:20] jrieken opened #2403 "add webpack topic"
We should add a section about webpack, esp about migrating an extension towards webpack.

[2019-02-13 16:05] usernamehw opened #2407 "Color contribution section of contribution points should have an example of usage"
https://code.visualstudio.com/api/references/contribution-points#contributes.colors

Add an example to demonstrate how to use the contributed color from extension, eg:

[code]

[2019-02-13 17:12] KamasamaK commented on #2254
Related #2403

[2019-02-13 17:16] octref commented on #2403
Does #2403 cover it?

[2019-02-13 18:42] DanTup commented on #2403
@octref The issue you linked is this one, did you mean something else? :)

[2019-02-13 19:02] octref commented on #2403
Oops, happens.

[2019-02-14 00:03] busticated opened #2409 "Document When Extension Commands Are Called With Arguments and What Those Arguments Are..."
hi there :wave:

in certain circumstances commands provided by an extension are called with arguments. for example:

[code]

within your extension manifest (`package.json`) creates a context menu item for `myCommand`. when a user invokes that menu item by right-clicking and selecting it from the context menu, `myCommand` is called with a single argument: the `uri` for the file where the context me

[2019-02-14 10:11] jrieken commented on #2403
Yeah, closing as dupe

[2019-02-14 10:12] #2403 closed

[2019-02-14 10:28] usernamehw opened #2410 "Add new feature to release notes January 2019"
There was a lot of small features in **Jan** release, but this one should probably be mentioned:

Fast scrolling while holding modifier key <kbd>Alt</kbd>

[code]

[2019-02-14 16:50] jrieken commented on #2254
@octref Do you want webpack as separate guide? My initial planning was to put this into `api/working-with-extensions/publishing-extension.md` so that it is not more prominent/easier to find. My thinking was the the base-publishing guide should prepare you for the webpack-guide

[2019-02-14 17:34] octref commented on #2254
I think separate topic (`api/working-with-extensions/bundling-extension.md`) is better:

- It's on TOC, so even easier to find
- The publishing guide could link to the bundling guide in "Next Steps", you can also put it right after publishing guide in TOC

[2019-02-14 19:26] kraigb commented on #2389
@ericsnowcurrently Just to clarify, the substitution referred to here is using already-defined environment variables (within the system or earlier in the .env file) to define other variables in the .env file, correct?

[2019-02-14 19:28] #2410 closed

[2019-02-14 19:36] kraigb commented on #2389
@ericsnowcurrently Actually, the second to last bullet says that already, so ignore my previous comment.

[2019-02-14 19:42] #2389 closed

[2019-02-14 22:08] gregvanl commented on #2409
Hi @busticated I think this information is covered in the Contribution Points article for contributes.menu. https://code.visualstudio.com/api/references/contribution-points#contributes.menus.
Are there other cases besides context menus where you've seen arguments being passed to commands?

[2019-02-14 22:19] busticated commented on #2409
hi @gregvanl thanks for taking a look 👍

if you are referring to:

i don't think that's sufficient. for one, there are different arguments provided depending on the contribution point. also, it's not clear that this is the _only_ scenario where arguments are provided - e.g. keyboard shortcuts? command palette in special cases? other? 🤷‍♂️

[2019-02-15 19:11] mikedouglasdev opened #2414 "Azure DevOps Pipelines documentation is broken for static websites"
When navigating from the Azure documentation for static websites
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website#next-steps
The following link is broken.
https://code.visualstudio.com/tutorials/static-website/deploy-VSTS

Thanks,
Mike

[2019-02-15 19:26] gregvanl commented on #2414
Hi @mikedouglasdev I moved this issue to https://github.com/MicrosoftDocs/azure-docs/issues/25069.
I don't think the Azure Pipelines link should be going to the VS Code website.

[2019-02-15 19:26] #2414 closed

[2019-02-15 19:59] gregvanl commented on #2391
Hi @dbaeumer I made an edit pass with https://github.com/Microsoft/vscode-docs/commit/83286bb77b46dd50969025b06d7440a0f726f961.
Let me know what day you'd like it published and I can update the final path and date.

[2019-02-15 19:59] #2391 closed

[2019-02-18 00:46] cappyzz opened #2415 ".."

[2019-02-18 03:24] gregvanl commented on #2415
Closing as no information. Please reopen and add more details, if you'd like to report a documentation issue.

[2019-02-18 03:24] #2415 closed

[2019-02-18 06:43] Oceanedge opened #2416 "Cannot close editor with too long file name"
I was using vscode 1.31.1 on Ubuntu 18.04.2 LTS. While I was testing my script which output a long string, for unknown reason, Ubuntu launch code to open that long string as a file. When I try to close that editor on vscode, it shows a dialog with error: A system error occurred (ENAMETOOLONG: name too long, open '/home/user/LS0tLS1CRUdJTiBQU...  and refused to close that dialog.
After I restart vs

[2019-02-18 13:53] dbaeumer commented on #2391
@gregvanl thanks. Will let you know when ready for publish

[2019-02-18 18:59] gregvanl commented on #2416
Hi @Oceanedge This sounds like a product issue, not a documentation issue so I'm moving this to the vscode repo.

[2019-02-19 19:04] brettcannon opened #2421 "Document python/pipenvPath"
This is already live.

https://github.com/Microsoft/vscode-python/blob/b0fb5e4795e2ea71e164f1da7e9534b77383e369/package.json#L1754-L1758

[2019-02-19 21:30] tetchel opened #2422 "Not much info about ProgressLocations"
https://code.visualstudio.com/api/references/vscode-api#ProgressLocation

That makes sense! But I'd like it to say in that doc section, possibly with a screenshot, exactly where each of the `ProgressLocations` is displayed in the editor. `Notification` is straightfoward, but the other two are more subtle and I had to do a bit of experimenting to figure out where that progress actually showed up.

[2019-02-20 15:10] DanTup opened #2424 "touchBar isn't listed in menus docs"
There's a list of menus that can be contributed to here:

https://code.visualstudio.com/api/references/contribution-points#contributes.menus

It doesn't currently list `touchBar` ([which is mentioned here](https://code.visualstudio.com/updates/v1_17#_macos-touch-bar-support)).

[2019-02-20 16:54] #2424 closed

[2019-02-20 16:55] OmegaDoom commented on #856
[code]
No effect. File is not redirecting.

[2019-02-21 09:47] bpasero commented on #1789
I really suffer from this too....

[2019-02-21 14:32] bclinthall opened #2428 "Keybinding context for terminal shell"
I use a variety of repls in multiple terminals.

![image](https://user-images.githubusercontent.com/25251768/53175511-1724fd00-35ba-11e9-9f88-a0ea3266647a.png)

I have a keybinding for `workbench.action.terminal.runSelectedText`. I would like to be able set up my key command like this:
[code]
This would prevent me from accidentally sending python into cmd (which it doesn't like).

It would also be

[2019-02-21 17:42] #2421 closed

[2019-02-21 18:06] octref commented on #1789
This also slows down CI, will try to get a fix on debt week.

[2019-02-21 23:00] brettcannon opened #2430 "Update Python testing docs for the forthcoming Test Explorer"
https://code.visualstudio.com/docs/python/unit-testing will continue to be accurate, but we will be starting to move people towards the new test explorer in the next release.

/cc @Microsoft/pyvsc

[2019-02-21 23:32] gregvanl commented on #2428
Hi @bclinthall This looks like a product suggestion rather than a documentation issue so moving to the vscode repo

[2019-02-22 11:16] oriash93 commented on #2322
@gregvanl I think you referenced the wrong issue/PR, could it be?

[2019-02-22 13:34] Georg-M opened #2432 "SOURCE CONTROL - quick start in documentation missed"
I have fresh VSCode (1.31.1) installed on Windows 10 (1803).
And I have Git client (2.17.0 in CygWin) available from everywhere over Windows PATH env variable.

*Problem 1*
VSCode has nothing VCM/Git related, except `"Initialize Repository"` option.
SOURCE CONTROL pane shows: `"No source control providers registered"`.
Option `"Initialize Repository"` works, but nothing changes in VSCode UI.

*Pro

[2019-02-22 13:46] Georg-M commented on #2432
Maybe this duplicates #2323

[2019-02-25 17:08] gregvanl commented on #2322
Hi @oriash93, Thanks for pointing this out. It was meant to be the topic pageview rank not a link.

[2019-02-25 17:30] acalvino4 opened #2435 "virtual environment not activated in terminal with anaconda-project"
I am using anaconda-project to manage my environments.  I've used 'Python: Select Interpreter' in the VSCode command palette to select the interpreter for the project, and it is recognized in the bottom left of the screen.  However, when I open an integrated terminal, it seems that vscode attempts to activate the environment but fails to find it.  Here is the error message:
[code]
Following the su

[2019-02-25 17:40] gregvanl commented on #2432
Hi @Georg-M I wasn't able to reproduce your issue where there is no UI change after running "Initialize Repository". You might check that you have a hidden .git folder under your project folder after the init finishes.
#2323 is meant to provide a step-by-step tutorial for users new to both Git and VS Code at the same time.

[2019-02-25 18:00] acalvino4 commented on #2435
Update: I just noticed that `WorkspaceSettings.Python.CondaPath` is blank.  Could that be the cause of the issue?

[2019-02-25 18:47] kraigb commented on #2435
@acalvino4 This looks like a bug in the extension (rather than the documentation). In that case, please check on https://github.com/Microsoft/vscode-python/issues if the issue is already filed; if not, do file this issue there. In the meantime, I'm closing this one (as this repo is docs issues only). Thanks.

[2019-02-25 18:47] #2435 closed

[2019-02-25 19:56] acalvino4 commented on #2435
I see.  I posted here, because I was directed to by this page: https://code.visualstudio.com/docs/python/environments#_environments-and-terminal-windows

[2019-02-25 22:01] kraigb commented on #2435
Yes, I have the link to the doc issues first so I can filter what goes to the product backlog. That way I can send folks to the engineering team only when necessary, as in your case. Thanks for understanding. :)

[2019-02-26 22:54] tetchel opened #2436 "Does window.showMessage support newlines?"
Sorry for the question (not an issue) but I couldn't find any info on this.

Does `vscode.window.show(Information|Warning|Error)Message` support newlines?

I tried `\n`, `\n\n`, and `\\n`. The first 2 got rendered as spaces, and the latter was printed as literally "\n" as I expected.

I won't be surprised if this isn't supported, since the messages shown here are generally concise, but I wanted to

[2019-02-27 04:11] #2402 closed

[2019-02-27 04:12] #2432 closed

[2019-02-27 04:23] #2365 closed

[2019-02-27 04:30] gregvanl commented on #2436
Hi @tetchel show{}Message does not support newlines. See https://github.com/Microsoft/vscode/issues/48900

[2019-02-27 04:30] #2436 closed

[2019-02-27 13:09] DanTup opened #2437 "Document the `debugType` context"
https://github.com/Microsoft/vscode/issues/45116#issuecomment-466076000

I can't find any info on `debugType`. I presume that it matches the *currently selected* debug session if there are multiple (and that it changes as you switch between the active sessions) but I think it should be written somewhere.

Also, it feels a bit weird that the place to go and find these contexts when declaring comman

[2019-02-27 14:08] jrieken commented on #2254
fyi - I have pushed a first cut via https://github.com/Microsoft/vscode-docs/commit/102330449a8b165eba18c1fe67bf7d5c07e92ad9

[2019-02-27 14:30] DanTup commented on #2254
@jrieken If you're looking for feedback, a section on tests would be appreciated. I couldn't figure out how to make tests work after changing the extension to be packed (specifically, I wasn't sure what the launch.json/packages.json should look like to run them with F5 from VS Code, or from the terminal).

[2019-02-27 14:34] jrieken commented on #2254
Yeah, that looks very hard-coded: https://github.com/Microsoft/vscode-extension-vscode/blob/master/bin/test#L44. @bpasero is there a way to make this configurable?

[2019-02-27 14:52] DanTup commented on #2254
@jrieken I didn't even get that far (see https://github.com/Microsoft/vscode-extension-samples/issues/110#issuecomment-438589848). As part of switching to webpack the call to tsc was replaced with a call to webpack, so the tests weren't even being compiled anywhere. I wasn't sure how it was supposed to work (I've never used webpack before, so I wasn't really sure where to start with it).

[2019-02-27 15:05] jrieken commented on #2254
That's a good sign because it means your source doesn't depend on your tests ;-) For test keep compiling with tsc or compile another webpack entry that's your tests, tho I think the former makes most sense. I will update the sample and guide

[2019-02-27 21:59] SimonSiefke opened #2439 "Add note how to associate files with json"
I was looking at https://code.visualstudio.com/api/references/contribution-points#contributes.jsonValidation but it wasn't clear how I could associate for example ".jshintrc" files with JSON.
I eventually found it on the prettier-vscode repository, but maybe we could add a note to the docs. Something like:

To associate the ".jshintrc" file with JSON syntax, add the following to the "contributes"

[2019-02-27 23:52] KamasamaK commented on #2439
I think the proper way to do this is using the `files.associations` setting. See [Adding a file extension to a language](https://code.visualstudio.com/docs/languages/overview#_adding-a-file-extension-to-a-language). The approach you are using should be reserved to contributing a new language.

[2019-02-27 23:59] gregvanl commented on #2254
@jrieken I did an edit pass, added metadata, and placed the topic in the TOC with https://github.com/Microsoft/vscode-docs/commit/4886d4e254fa5ea7938dcbde48629014a5fcff5a

[2019-02-28 00:44] gregvanl commented on #2439
Thanks for answering @KamasamaK.

[2019-02-28 00:44] #2439 closed

[2019-02-28 00:51] #2437 closed

[2019-02-28 01:52] #1897 closed

[2019-02-28 08:06] SimonSiefke commented on #2439
Sorry if I wasn't clear, what I meant was: When I want to create an Extension that provides a schema for `.jshintrc` files, the docs should also include how to associate ".jshintrc" files with JSON from a extension point of view. The users of the extension can do that manually with the `files.associations` setting, but it would be better if the extension would automatically do that via `contribute

[2019-02-28 13:15] DanTup commented on #2437
The text that was added isn't really as useful as it could be:

[code]

"the debug type" is a little vague since VS Code can run have multiple active debug sessions at the same time.

[2019-02-28 17:05] KamasamaK commented on #2439
Perhaps, but again, that did not seem to be the way you should use `contributes.languages` based on my understanding. It would be nice to have clarified exactly how this _should_ be done. If that's a supported use, then it would of course be nicer to have the association be statically defined.

By the way, the suggestion was not to have users manually configure settings. There is an [API](https://

[2019-02-28 19:19] gregvanl commented on #2254
Will be published when 1.32 released

[2019-02-28 21:00] DanTup commented on #2254
@jrieken did you make updates about testing? I can't see them in the changesets mentioned above, but if they exist somewhere, I'd like to have a go at trying to migrate my project :-)

[2019-03-01 01:09] octref commented on #2254
Let's keep this open until there's a section on testing. In the old tsc compilation you get a js file emitted each ts file so you can write unit tests easily. We should provide some documentation on how to do unit testing with webpack.

[2019-03-01 09:39] arthurz0 opened #2443 "Undocumented change in the Webview tutorial"
In the webview tutorial
https://code.visualstudio.com/api/extension-guides/webview
in the subsection "Updating webview content" in the function getWebviewContent(), the image is read like this:
`<img src="${cats[cat]}" width="300" />`
Later, in the subsection "Visibility and Moving", the function updateWebviewForCat() calls:
`panel.webview.html = getWebviewContent(cats[catName]);`
Therefore, getWe

[2019-03-02 02:33] #2443 closed

[2019-03-03 17:08] OmegaDoom commented on #856
I updated python to 3.7.2 and it started working!

[2019-03-04 08:33] drayus34 opened #2445 "Decode"
Vscode is not supported by Android I have tried get extensions but can't use it someone please fix this I only have my phone soon I will have a chromebook or a Microsoft laptop the only reason I'm trying programming is to make an program to take individual pages of comics and merge into an e-book or to be self published but won't get anywhere without this change

[2019-03-04 13:51] jrieken commented on #2254
I have added a section about running tests - basically suggesting to keep things as they are because it doesn't make sense to bundle unit tests.

@octref This will be published under https://code.visualstudio.com/api/working-with-extensions/bundling-extension, correct? Asking because I have created a fwd link for vsce (https://github.com/Microsoft/vscode-vsce/pull/336)

[2019-03-04 13:53] jrieken commented on #2254
@gregvanl Please do review on the new section. Thanks

[2019-03-04 13:57] DanTup commented on #2254
@jrieken

Would this run the tests against webpacked *extension* code? If not, I don't think that's a good solution.

[2019-03-04 14:03] jrieken commented on #2254
It's a unit test for a portion of your code. It's not an integration test and it's not testing webpack. There should be no difference, webpack'ed or not. It's like saying your tests should be run against TypeScript and not against the JavaScript that tsc produces.

[2019-03-04 14:19] DanTup commented on #2254
Many people do (and should) have integration tests for their extensions. But also, testing against the output of webpack doesn't mean you're just testing webpack - you're also making sure you haven't written any code that Webpack strips out because it thinks is unused.

Though FWIW, I don't think "testing webpack" is a bad thing. Projects often have bugs, and sometimes they slip through their own

[2019-03-04 14:24] jrieken commented on #2254
Obviously there a way of achieving this but it's outside the scope of a simple tutorial. You seem to have a strong opinion on this, so this is the webpack-doc: https://webpack.js.org/concepts. It will explain you how this works.

[2019-03-04 14:42] DanTup commented on #2254
Sure, but I don't think it should be out of scope of the guidance given by VS Code for extension authors. I did spend many hours trying to make this work and couldn't figure it out, so I posted here back in November ago asking for help/guidance. The issue I'd commented on was closed without covering this and I ultimately ended up on this one. This one also seems like it's not going to cover it. I

[2019-03-04 15:14] jrieken commented on #2254
In https://github.com/Microsoft/vscode-extension-samples/issues/110#issuecomment-438589848 you have asked what to with tests. We have provided an answer, including a sample. You disagree with our suggestion which is fine but then you are also a little on your own.

Sorry, I don't believe that. I think you are smart enough to come up with a concrete, real question instead of "tried it, didn't work,

[2019-03-04 16:18] DanTup commented on #2254
I often don't believe how many hours I spend on things, but sadly that doesn't make them not true 😞

I didn't post "tried it, didn't work, what's next". I gave details about what I tried and why I got stuck:

I understand a little better now, but at the time I assumed I needed to build a packed version that included the test entry point. I've never used Webpack before, and this is my only TS proje

[2019-03-04 17:13] octref commented on #2254
The link is correct.

@DanTup Can't you have 2 entry points, one for the extension build and one for the test build, and then use the `--extensionTestsPath` to point to the test build output?

[2019-03-04 17:32] DanTup commented on #2254
Do you mean two Webpack entry points? I don't know.. The docs for webpack do mention multiple entry points (https://webpack.js.org/concepts/entry-points/) but it's not clear how that'd work - if I ended up with two files, the test one may end up with a copy of all the extension code it calls inside it, and if it ends up with one, it isn't clear how to pass that to VS Code (since it needs two thing

[2019-03-04 18:53] octref commented on #2254
`--extensionDevelopmentPath` and `--extensionTestsPath` in here https://code.visualstudio.com/api/working-with-extensions/testing-extension#launch-tests-configuration.

Can you give a concrete example of what functionality you want to test, which the current webpack config doesn't support?

[2019-03-04 19:31] gregvanl commented on #2445
Hi @drayus34, VS Code currently only supports the Windows, macOS, and Linux platforms. Hopefully, you will find VS Code useful for your project if you are able to use a supported platform.

[2019-03-04 19:31] #2445 closed

[2019-03-04 19:38] GeekTrainer opened #2447 "Remove the HTML concatenation examples"
The write-ups for getting started with [Flask](https://code.visualstudio.com/docs/python/tutorial-flask) and [Django](https://code.visualstudio.com/docs/python/tutorial-django) are **fantastic**! However, I'd love to see the example of HTML concatenation, which is called out as a bad practice, removed from the example. If it's something developers shouldn't be doing, it's probably best to leave it

[2019-03-04 19:49] DanTup commented on #2254
@octref I mean, if everything is compiled into a *single file* (tests + extension) how you'd pass both those things.

There isn't specific functionality I want to test, I wanted to enable webpack and have all my existing tests (whatever they do) - and any future tests - work the same, but using the packed version of the extension (I incorrectly assumed that's exactly what everybody that packed the

[2019-03-05 10:25] DanTup commented on #2254
Ok, so I had a go at what I wrote above by having a new script that did both webpack and tests:

[code]

Then used that as the `preLaunchTask` for my test configs. I managed to get some of my tests passing, however it seems to falls down in a several places because any classes that have state are now duplicated (in the tests, and in the packed extension code) and also there are two definitions of

[2019-03-05 15:31] usernamehw opened #2450 "Not mentioned project-level snippets"
https://code.visualstudio.com/docs/editor/userdefinedsnippets

https://github.com/Microsoft/vscode/issues/8102#issuecomment-423476360

[2019-03-05 16:37] octref commented on #2254
Here's my take:

- If your tests depend directly on your source code, those are unit tests. Test them with your test runner and don't webpack them.
- If your tests do not depend on your source code, those are integration tests. You can webpack them into two entries for 2 output bundle files and point to them with `--extensionDevelopmentPath` and `--extensionTestsPath`.
- Ultimately if nothing work

[2019-03-05 19:01] DanTup commented on #2254
I've got integration tests that do depend on my source code. It's a convenient way to verify state in places where it's hard to otherwise verify the results. Yes, I'm sure I can refactor them to work differently, but that would probably involve adding more APIs just to support my tests. I'm already exposing some things through the extensions exports, though even that broke here (because I used a `

[2019-03-06 00:55] kraigb commented on #2447
Thanks for the suggestion. I have those examples with the warning comments in the tutorials to make it completely clear, by way of a non-working counter-example, that you shouldn't use inline HTML, and that it's ultimately best to separate concerns with HTML in the template and data in the code. That is, you can see the results of both, and doing such experimentation typically results in better re

[2019-03-06 02:26] CarlosEduardo12 commented on #1881
Thanks i had the same problem and that worked!!

[2019-03-07 18:49] GeekTrainer commented on #2447
I want to reiterate I **love** the tutorial. I think you did a wonderful job building it. It's clear, easy to follow, and tells a great story. Writing content like this isn't easy (I know), and you put forth a wonderful write-up.

My concern comes from conversations I've had recently with both students and educators. One of the challenges they're running into is trying to figure out what the best

[2019-03-07 20:00] kraigb commented on #2447
Yes, I like your suggestion. Let me work with that approach, maybe even to include less code and even put it inline rather than a code block.

[2019-03-07 20:24] #2430 closed

[2019-03-07 22:44] kraigb commented on #2447
@GeekTrainer, can you review PR #2463 for me? I edited both Flask and Django tutorials, and suggested at the end of the section to try using a name with <>'s in it, to see the escaping. This allowed me to drop the questionable code block altogether. Let me know if you see anything to tweak.

[2019-03-07 23:16] GeekTrainer commented on #2447
All of it looks great! Thanks for being open to the suggestion. And the shorter block with the inline code flows better as well.

[2019-03-07 23:19] #2447 closed

[2019-03-08 19:33] #2254 closed

[2019-03-09 11:23] dscharnagl opened #2465 "Hosting like VSCode Docs"
Hey there!

Which CMS are you using to host VSCode Docs and VSCode in general?
I'm aware of Jekyll and Hugo to host markdown like pages or you're using your own CMS?

Thanks in advance!

[2019-03-10 19:46] kyerlasswell opened #2469 "We should adhere to a common style guide for consistency"
With so many people with different voices and writing styles from people contributing to something as language-heavy as documentation, it would be beneficial to require adherence to a common style guide that everyone can refer to for grammar and usage questions. Perhaps the [Microsoft Writing Style Guide](https://docs.microsoft.com/en-us/style-guide/welcome/)?

I see two major benefits:

1. It ens

[2019-03-11 05:02] gregvanl commented on #2465
Hi @dscharnagl, we host our own website on Azure. The markdown files are converted to HTML via markdown-it and we are using Express as the server.

[2019-03-11 05:02] #2465 closed

[2019-03-11 05:11] gregvanl commented on #2469
Hi @kyerlasswell Thank you for your interest in the VS Code documentation and your suggestion. The VS Code documentation has a "developer-to-developer", conversational style and this is intentional. We want readers to feel like they are hearing from the dev team, and in fact, the engineers have a big part in creating the docs. We welcome issues or PR for inaccuracies or changes which bring clarify

[2019-03-11 05:11] #2469 closed

[2019-03-11 22:16] gregvanl opened #2471 "fatal: refusing to merge unrelated histories"
To make the vscode-docs repository smaller https://github.com/Microsoft/vscode-docs/issues/1789 (it was over 2 GB), the historical content has been moved to https://github.com/Microsoft/vscode-docs-archive and past history removed.

If you try to pull from an existing local vscode-docs repo, you will see "fatal: refusing to merge unrelated histories".

You need to re-clone the vscode-docs repo.

T

[2019-03-11 22:39] gregvanl commented on #2471
Unfortunately some open PRs were closed during our shrinking of the vscode-docs repo. You will need to re-clone vscode-docs, reapply your changes and submit another PR. Sorry for the inconvenience.

[2019-03-12 02:21] octref commented on #1789
We switched to LFS. You can now use https://github.com/Microsoft/vscode-docs#cloning which clones the 16MB text files, and pulls in images on demand.

[2019-03-12 02:21] #1789 closed

[2019-03-12 13:37] potenzatk opened #2473 "Onclick div it will show outer div boundary instead of current div"
Hello,

When we click on any div vs codes showing outer div start and ending white line ( boundary  ) between div.
But we think it should show current div start and ending line ( boundary), not outer div please check below link.
we can easily identify with notpad++ but not with vs code. there are any solutions like we can show notepad ++

http://prntscr.com/mwtekz
http://prntscr.com/mwtkot
let us

[2019-03-12 15:09] jlvallelonga opened #2475 "intellisense documentation is outdated"
I noticed that the documentation is out of date for the parameterHints setting

on this page: https://code.visualstudio.com/docs/editor/intellisense#_settings

I'm currently seeing:

[code]

and the correct setting is:

[code]

found a working solution on stack overflow:
https://stackoverflow.com/questions/48123237/remove-parameter-hints-box-in-visual-studio-code

I'm on macOS version 10.14.3 runn

[2019-03-12 16:17] gregvanl commented on #2475
Thanks for noticing and also fixing with https://github.com/Microsoft/vscode-docs/pull/2474

[2019-03-12 16:17] #2475 closed

[2019-03-12 16:23] gregvanl commented on #2473
Hi @potenzatk This looks like a suggestion for the VS Code product and not related to VS Code documentation. Moving to the vscode repo.

[2019-03-13 07:19] yiluxiangbei87110 opened #2476 "Plugins often fail"
### Plugins often fail，it works when i uninstalll plugins and retry install。
![image](https://user-images.githubusercontent.com/23131032/54260130-0527f000-45a3-11e9-8fd4-fc6e9f896a21.png)

[2019-03-13 12:20] johnpapa commented on #2254
In case it helps anyone else, here is what I managed to get working. I'm not 100% sure this is the right way to go ... any feedback is appreciated.

My goals were to make all of these still work:

- packaging with `npm run package`
- publishing with `npm run publish`
- local and CI testing with `npm run test`
- F5 debugging with the `launch.json`
- F5 debugging the tests with the `launch.json`

Th

[2019-03-13 13:57] egamma commented on #2254
@jrieken FYI

[2019-03-13 14:04] jrieken commented on #2254
@johnpapa re https://github.com/Microsoft/vscode-extension-samples/issues/163 can you be more specific? The `webpack-sample` has a [`test-compile`](https://github.com/Microsoft/vscode-extension-samples/blob/cf477847244cf291aa13fa447f1c9cf834f302c8/webpack-sample/package.json#L29)-script and [`launch.json - Extension Test`](https://github.com/Microsoft/vscode-extension-samples/blob/cf477847244cf291

[2019-03-13 14:17] johnpapa commented on #2254
Yes - the sample in github and what are in the doc are not the same. It took me a bit to figure that out.

But really - I'm wondering if what I did above is proper. I'm not a webpack guru :)

The odd part for me is ... (from above) ...

Is that intended? debugging and tests fail if I dont. Or do I have it setup wrong?

[2019-03-13 14:44] jrieken commented on #2254
One should be enough: for debugging, use the webpack-compile (the extension starts from `dist/extension`). for testing, use the tsc-compile (tests are discovered in `out/test/**`)

[2019-03-13 15:12] gregvanl commented on #2476
Hi @yiluxiangbei87110 This looks like an issue with the VS Code product, not the VS Code documentation. You can open an issue in the VS Code product repo at https://github.com/Microsoft/vscode

[2019-03-13 15:12] #2476 closed

[2019-03-13 17:04] octref commented on #2254
@jrieken  https://github.com/Microsoft/vscode-docs#workflow

[2019-03-13 18:01] gregvanl commented on #2254
@jrieken Is this all that's needed https://github.com/Microsoft/vscode-docs/commit/3c3d6899319ca70ce9da078396ed218137a30e85?

[2019-03-13 19:42] kbehlers opened #2477 "Outdated Keyboard Shortcuts Reference PDFs"
February 2019 Release (see https://code.visualstudio.com/updates/v1_32) changed the "Select current line" command on Linux, Windows, and macOS (see https://github.com/Microsoft/vscode/pull/67178) to be an `L` instead of `I`.

The cheat sheets (see https://github.com/Microsoft/vscode-docs/issues/645) need to be updated with the new keybinding.

[2019-03-13 19:52] kbehlers commented on #2477
Additional Reference Link https://github.com/Microsoft/vscode/issues/59003

[2019-03-13 19:59] DonJayamanne opened #2478 "Document python/poetryPath"
**Extension: Python Extension**
The setting will be available in `settings.json` as follows:
[code]
* Currently it defaults to `poetry` (assuming it is in the current path)
* Use by the extension to install packages when `poetry` is available
* We determine whether to use `poetry` or not based on the existence of `poetry` and the existence of the `poetry.lock` file in the workspace folder.

[2019-03-14 02:06] justingrant opened #2480 "tasks.json schema docs are missing custom task types (e.g. typescript, npm) and also other config properties"
The task.json schema documentation (https://code.visualstudio.com/docs/editor/tasks-appendix) is incomplete and/or out of date. For example, it's missing documentation for NPM and TypeScript task types that are auto-detected by VSCode. Below are examples of two tasks that were auto-detected by VS Code 1.32.2. Other than `problemMatcher`, none of these settings are documented.

    {
      "type":

[2019-03-14 08:03] jrieken commented on #2254
Yeah - lgtm

[2019-03-14 16:22] luabud opened #2481 ""Search Docs" displaying no results for any term"
I tried searching with many different terms and for all of them the Search returns "No results".

![image](https://user-images.githubusercontent.com/45497113/54373490-94ccad80-463a-11e9-8637-96df4f9de6a7.png)

[2019-03-14 17:22] gregvanl commented on #2481
@luabud Thanks for reporting this. We are investigating.

[2019-03-14 17:26] johnpapa commented on #2254
I am testing both of these out. First, before trying either I delete the `out` and `dist` folders, just to make sure I am not using old compilations.

@jrieken Thanks for the tips. I tried using just the `tsc` script for testing and I get this error

[code]

when i try just the webpack compile script for debugging, that works

so it appears I just need to fix something with the test setup. Any ide

[2019-03-14 17:46] johnpapa commented on #2254
FYI - this is in your sample code but not in the post. https://github.com/Microsoft/vscode-extension-samples/blob/master/webpack-sample/webpack.config.js#L37-L39

[2019-03-14 18:45] gregvanl commented on #2477
Updated with https://github.com/Microsoft/vscode-docs/commit/e3ba3e367fdbbe4159ff8f37870dc2634b875166.
Will publish new PDFs shortly.

[2019-03-14 18:45] #2477 closed

[2019-03-14 21:21] brettcannon opened #2482 "Flask tutorial's launch.json does not match the default settings"
The current settings are https://github.com/Microsoft/vscode-python/blob/81a079cb6b87837af3f2d66a5a256b1bb63af501/package.json#L840-L860

[2019-03-15 03:25] wtam opened #2483 "python webapp publish blank app with error on VS code"
Default site content display instead of my python web content, not sure if its related to below unexpected error during deployment?

Creating resource group "appsvc_rg_linux_centralus" in location "centralus"...
Successfully created resource group "appsvc_rg_linux_centralus".
Ensuring App Service plan "appsvc_asp_linux_centralus" exists...
Creating App Service plan "appsvc_asp_linux_centralus"...

[2019-03-15 12:07] CBtiger opened #2485 "Update Readme. How to install"
VS Code runs fine of my offline PC. But no help feature work without internet. Even the Help/keycodes are only a link to an online page.

By chance I saw this docu repository. I read your Readme. You are telling about how to limit download size which is nice. But why is there no information at all on how to install that package? I mean install it so that it works with my local VC Code installation

[2019-03-15 13:46] gregvanl commented on #2483
Hi @wtam Did you run into this error while working through a specific VS Code python tutorial?

[2019-03-15 13:52] gregvanl commented on #2485
Hi @CBtiger For offline reading, you can clone the vscode-docs repository to your local machine. VS Code has a nice Markdown preview and the repository directory structure closely matches the website TOC so you can use the File Explorer to navigate through documentation. The vscode-docs repo is fairly large so you can do a git clone --depth 1 to just get the latest content.

[2019-03-15 13:52] #2485 closed

[2019-03-15 15:43] kraigb commented on #2483
@wtam I can see from your logs that you're using Zip deploy, which doesn't install your dependencies on App Service automatically, which could be part of it. You might also need to configure a custom startup command.

Please review https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python to make sure you have these details covered. That article also has troubleshooting

[2019-03-15 15:44] kraigb commented on #2478
@DonJayamanne Has this already shipped, or is it upcoming? (I ask because of the "The setting will be..." language.)

[2019-03-15 16:36] DonJayamanne commented on #2478
Not yet shipped

[2019-03-15 17:24] kraigb commented on #2482
Is this accurate for the current release of the extension? Trying it just now, I see the following:

        {
            "name": "Python: Flask",
            "type": "python",
            "request": "launch",
            "module": "flask",
            "env": {
                "FLASK_APP": "app.py"
            },
            "args": [
                "run",
                "--no-debugger",

[2019-03-15 18:51] brettcannon commented on #2482
@kraigb according to https://github.com/Microsoft/vscode-python/blame/master/package.json they have been in there for several months, but I just filed an [issue](https://github.com/Microsoft/vscode-python/issues/4774) about how the group of default configurations is like what you have but if you explicitly select Flask you get what I linked to.

[2019-03-15 21:15] gregvanl commented on #2481
Should be fixed now.

[2019-03-16 09:35] tianjidiaobao opened #2488 "In "Getting Started with Python in VS Code"，when I select green arrow again, VSCode will report an error."
I follow the documentation（https://code.visualstudio.com/docs/python/python-tutorial#_configure-and-run-the-debugger）

![image](https://user-images.githubusercontent.com/26198425/54473400-2c382900-4812-11e9-8d82-3a88129985c3.png)

VSCode will report a error, like this:

![image](https://user-images.githubusercontent.com/26198425/54473358-d6fc1780-4811-11e9-8044-81db36a757e7.png)

Is it wrong in th

[2019-03-16 14:50] camelcars-ucl opened #2489 "Issue with python deployment documentation"
I believe that the azure portal referenced here is an outdated version. Under the 'configure a custom startup file section', the documentation states that I can add startup.txt to the application settings under runtime. However, in the current version of my azure portal, I am unable to do this.
This is problematic as I do require the use of a custom startup file to configure gunicorn. How would I

[2019-03-16 17:40] CBtiger commented on #2485
Thank you for you information. Important information I could not have guessed.

Since you closed the item without referring to an update of the main ReadMe.md can I read from that you do not think this kind of information is useful for others?

I would think many people (including me) would love to read your answer (perfectly with a step-by-step) in the front part of that document.

[2019-03-17 01:44] kraigb commented on #2489
Are you sure you're using App Service on Linux? Python isn't supported on App Service for Windows.

I just created a new App Service on Linux and confirmed that the startup file setting is indeed there on the Application Settings blade.

![image](https://user-images.githubusercontent.com/1339874/54484029-678b2580-481b-11e9-8868-c6205f30e628.png)

The startup file is also described on https://docs.

[2019-03-17 15:32] Dazzerman opened #2490 "Visual Studio Code not using the selected Python environment"
Hi,

Apologies for the newbie question, but I don't understand why VSC is not consistently using the Python Interpreter that I have selected.

I have uploaded a pair of screenshots to show the different ways that I have run the very basic python code to display the python version being run.  The top screenshot shows the Output panel when running the code via "ctrl-alt-n", and you can see that the

[2019-03-17 15:44] Dazzerman commented on #2490
P.S. I am using Windows 8 on my current machine, and VSC version :
Version: 1.32.1 (user setup)
Commit: 05f146c7a8f7f78e80261aa3b2a2e642586f9eb3
Date: 2019-03-08T00:51:49.278Z
Electron: 3.1.3
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.3.9600

[2019-03-17 16:36] Gama11 commented on #415
FWIW, the API docs for our Haxe externs of the VSCode API have a nice search box:

http://vshaxe.github.io/vscode-extern/

Something like that would be very helpful to have in the official docs as well.

[2019-03-17 16:50] Gama11 opened #2491 "Broken anchors for parametrized types in the API docs"
Next to types in the API docs, there's a `#` that changes the URL to an anchor that directly scrolls to that type. For parametrized types, this changes the address bar to the following:

![](https://i.imgur.com/Aph7K1A.png)

When I copy that link, I end up with this in my clipboard, since the `<` / `>` is being escaped:

https://code.visualstudio.com/api/references/vscode-api#TreeDataProvider%3CT%

[2019-03-17 16:56] Gama11 opened #2492 "API docs have anchors for fields, but they're hidden"
As I mentioned in #2491, the API docs have convenient `#` links next to types and namespaces to obtain the anchor for them.

![](https://i.imgur.com/qO8vNyv.png)

Individual fields actually also have anchors, but I suspect almost nobody knows about this since there isn't any way to obtain the link as far as I can tell. There's no `#`, and clicking the name just expands/collapses the docs.

(the an

[2019-03-17 16:58] Gama11 commented on #416
FWIW, the API docs for the Haxe externs of the VSCode API are a lot more convenient in this regard IMO:

http://vshaxe.github.io/vscode-extern/

[2019-03-17 17:04] Gama11 opened #2493 "readonly attribute doesn't show up in the API docs"
Many fields in the VSCode API are declared `readonly`, for instance:

[code]

However, this isn't reflected in the API docs, so there's no way to tell the difference between regular and `readonly` fields.

https://code.visualstudio.com/api/references/vscode-api#CodeActionContext

The API docs for the Haxe externs of the VSCode API have a "read only" badge to indicate this, something similar might

[2019-03-17 20:33] CBtiger opened #2494 "how to clone correctly"
The Readme said

but when I type

which I think was meant with "bare clone" I will get this output

Looks ok to me, at least I can see no error mesasge. But the downloaded folder size is 36MB, not 1.4GB. What did I do wrong?

[2019-03-18 15:04] bersbersbers opened #2495 ""This site uses cookies ..." cannot be removed on Chrome on Android"
Visit https://code.visualstudio.com/docs on Chrome on Android - notice the top banner saying "This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to this use. Learn more."

This banner cannot be removed and - unlike on Chrome on Windows 10 - does not disappear after using the site, for example, reloading or navigating.

Chrome 72.0.3626.

[2019-03-18 15:09] octref commented on #2494
You probably already has Git LFS installed. What happens if you try to open an image in the repo?

[2019-03-18 16:02] kraigb commented on #2490
@Dazzerman You want to run the code using the Python: Run Current File in Terminal command rather than Terminal > Run Active File. The latter relies on the file type association of Windows for .py files, which in your case must be associated with Python 2. (When I tried it, in fact, I didn't have an association, so Windows popped up the dialog asking me to set one.)

The Python: Run Current File i

[2019-03-18 16:05] kraigb commented on #2488
@tianjidiaobao Right you are! Thanks for catching that overlooked detail.

[2019-03-18 16:22] kraigb commented on #2482
Yes, I see that now. I'll make mention of that difference.

[2019-03-18 16:48] #2482 closed

[2019-03-18 16:48] #2488 closed

[2019-03-18 16:49] kraigb commented on #2482
I've added notes on the distinct Flask config; if the configs in the extension get consolidated, we can remove those notes.

[2019-03-18 16:50] CBtiger commented on #2494
I have not LFS installed. For that reason I was expecting to download 1.4GB of data. I hoped I could manage with standard git.

When I open an image in the repo (=in my browser) the image opens in the same document (no separate window, no download). Thats what I would expect to happen.

[2019-03-18 17:21] octref commented on #2494
So your local clone is 36MB, and you cannot open images in local repos, is that correct?

For example, here's what happens if I try to open `docs/editor/images/accessibility/high-contrast.png`:

![image](https://user-images.githubusercontent.com/4033249/54549409-3c155180-4967-11e9-8b52-fe96486f1855.png)

Can you also run `git config --list --global` and show me `lfs` related settings, if there's a

[2019-03-18 17:31] CBtiger commented on #2494
Sorry, I misunderstood you. I tried to open a image in the repository on your server via my bowser.

In my downloaded 36MB repository I can not open the image, because its not an image the file

actually contains

oid sha256:5e7898162b491988d4ffe858005b8f95dbdf1c5720d2973df45945989cea3bd7
size 44885

I ran your command in the repository but also in the home folder and it did not file a /home/usern

[2019-03-18 17:43] octref commented on #2494
That's very peculiar. You cloned the repo without `GIT_LFS_SKIP_SMUDGE=1`, and if you type `env`, you cannot find any `GIT_LFS_SKIP_SMUDGE`, can you?

Also, which OS are you on?

Finally, if you run `GIT_LFS_SKIP_SMUDGE=0 git clone git@github.com:Microsoft/vscode-docs.git`, what happens?

[2019-03-18 17:55] CBtiger commented on #2494
Well, thats correct. I just did what I gave in the first line. I did not use your GIT_LFS paramter. When I run

I get no output. I am on Ubuntu 16.04 LTS.  As I said above, I did _not_ install the LFS extension of git. I just have plain git installed. Maybe I misread your ReadMe.md, but to me it suggests that the LFS extension is optional not mandatory.

Maybe that adds to the confusion. Here is a

[2019-03-18 18:28] octref commented on #2494
You need to run Ctrl+Shift+P and "Markdown: Open Preview to the Side". See https://code.visualstudio.com/docs/languages/markdown#_markdown-preview

If you don't plan to touch images/videos, it's optional.

I see where the confusion comes from. It's optional in the sense that you can clone vscode-docs and contribute by changing MD files without LFS.

If you plan to update the images/videos, you nee

[2019-03-18 18:48] CBtiger commented on #2494
Thank you. With that seeting open as context/OpenPreview works.

Sorry for my bad english, but "touch" would mean "modify in any way"? Then, no I do not indend to change anything. Just trying to read the help content..

Maybe part of the confusion is that here are 2 very different use cases. You guys seem to deal in 99.999% of all cases with people who try to correct or enhance the VS Code documen

[2019-03-18 23:10] Dazzerman commented on #2490
@kraigb Thank you for your advice.  I have tried using Python: Run Current File in Terminal command, and this works.  This is definitely an improvement on having to type "python venv\test.py", so that is great.

Is it also possible to get code-runner to use the selected interpreter?  The Ctrl-Alt-n shortcut is easier and quicker to use than Right-Click > Run Python File In Terminal, so to have bot

[2019-03-18 23:20] kraigb commented on #2490
To get the other command to run using the selected interpreter probably requires an engineering change. I suggest taking that one up with the vscode-python issues on GitHub as noted before.

However, it's probably easier (and better) to just assign a new keyboard shortcut to the Python-specific command. You could reassign Ctrl+Alt+n, in fact; I don't believe it's actually a default keystroke...at

[2019-03-18 23:20] #2490 closed

[2019-03-19 00:16] Dazzerman commented on #2490
Thank you again.

[2019-03-19 13:40] solomson opened #2500 "Update documentation for keybindings"
Update the documentation for keybindings.

It was difficult to find the keybindings.json file in VScode version 1.3.2
![image](https://user-images.githubusercontent.com/21334768/54610097-94764d00-4a54-11e9-9f34-565cfd288b8e.png)

It is not displayed as it is in this document anymore. This is perhaps less stylistic, but far easier to notice.
https://code.visualstudio.com/docs/getstarted/keybindings

[2019-03-19 19:37] maurobonfietti opened #2505 "Update PDF Document about Keyboard Shortcut Reference for: "Move line up/down"."
Hi Team!

In the official PDF document about Keyboard Shortcut for Windows says: "Alt + ↑ / ↓    Move line up/down".

But in Visual Studio Code Version 1.32.3 for Win 10, the real key for Move line up/down is: "Shift + Alt + ↑ / ↓".

(In VSC v1.32.3 if you press: Alt + ↑ / ↓, you get instead: Add cursor Above/Below).

I send some screenshots...

Best regards.,

Mauro.-

_Version: 1.32.3 (user setu

[2019-03-19 23:45] #2471 closed

[2019-03-20 00:03] gregvanl commented on #2495
Hi @bersbersbers I can reproduce this issue on desktop Chrome on Windows and Edge if I shrink the browser window such that the TOPICS drop down appears. I think the issue is with that control not clearing the banner.

A workaround is to use the triple bar control in the upper right, which navigates the top menu. After expanding the top menu list and selecting a section such as Docs or API, the ban

[2019-03-20 12:23] #2500 closed

[2019-03-20 14:45] munamoon opened #2503 "innisfree"
<style>
 <p>
<a href="https://i1.wp.com/www.vietcv.net/wp-content/uploads/2016/11/innisfree-Logo2.png?resize=1080%2C630"</a>

   <h1>
   .red-text{
     border color: red;
  }
  p {
    .front-size:16px;
  }
</style>

<h2 class="green-text">innisfree</h2>

<p>
   Instead of using a disposable tissue, handkerchief will save trees and keep the forest green and even lower the temperature of the earth

[2019-03-20 15:11] munamoon opened #2504 "innisfree"
<style>
   <h1>
  }
</style>

<img src="https://i1.wp.com/www.vietcv.net/wp-content/uploads/2016/11/innisfree-Logo2.png?resize=1080%2C630"

<h2 class="green-text">**innisfree**</h2>

<p>
 Instead of using a disposable tissue, handkerchief will save trees and keep the forest green and even lower the temperature of the earth.

For 10 years, by starting making products from pure natural ingredients,

[2019-03-20 15:50] #2503 closed

[2019-03-20 15:51] #2504 closed

[2019-03-20 16:03] octref commented on #2494
No worries, that's a totally fine usage.

It's just that we have moved to LFS for managing binary files. May I ask why you don't want to install LFS?

For your case, you can try cloning https://github.com/Microsoft/vscode-docs-archive. You can also install LFS and checkout binary files in this repo. Hope that answers your question.

[2019-03-20 16:03] #2494 closed

[2019-03-20 16:20] gregvanl commented on #2505
Hi @maurobonfietti The move up/down keybindings are Alt+up/down for my 1.32.3 install on windows.

![image](https://user-images.githubusercontent.com/12818376/54700274-ec15c680-4aef-11e9-8efd-2b1160789a75.png)

Might you have an extension installed which has modified those keybindings? Can you try running "code --disable-extensions" to see if you still see these keybindings with extensions disable

[2019-03-20 16:34] CBtiger commented on #2494
Thanks. That helps me to download the file.

It also means that in your Readme.md

Is not fully correct. it will not. It will donwload texts only.

Because installing another tool just for doing sth that can be done with another existing tool is just adding complexity. I had to reinstall too many PCs to like to depend on too many tools. Less is more :-).

[2019-03-20 17:19] maurobonfietti commented on #2505
**Hi Greg, you are right!**

**I have installed Netbeans Keymaps v0.0.4**

_Name: Netbeans Keymaps
Id: grogdunn.netbeans-keybindings
Description: Bring Netbeans default keymap to VS Code.
Version: 0.0.4
Publisher: Grogdunn
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=grogdunn.netbeans-keybindings_

Was my fault I am sorry :-)

Thank you very much!

[2019-03-20 17:19] #2505 closed

[2019-03-20 21:49] octref opened #2506 "Pre-commit hook for wrongly committing binary files"
We should have a pre-commit hook that prevents someone from adding binary files to raw git. Binary files should be tracked in LFS.

[2019-03-21 12:01] bersbersbers commented on #2495
@gregvanl I am not sure we are talking about the same issue here. For me, the issue does not reproduce on Windows. Furthermore, the problem is not that I cannot navigate - the problem is that even when navigating, the cookie banner is shown on every single page.

[2019-03-21 23:46] gregvanl commented on #2495
@bersbersbers Does the banner remain if you navigate to Updates or Blog with the triple bar dropdown in the upper right?

[2019-03-22 00:17] kraigb commented on #2489
Closing due to inactivity.

[2019-03-22 00:17] #2489 closed

[2019-03-22 00:17] kraigb commented on #2483
Closing due to inactivity.